<%= t "Contact us" %>

<% cache do %>
<div class="c b"><%= link_to "Press", press_path %> | <%= link_to "Security", security_path %></div>

<p>You can find us primarily on  <a href="https://plus.google.com/100183759660923071401/about">Google+</a> and <a href="http://twitter.com/makeyourlaws">Twitter</a>.</p>

<!-- , <a href="http://facebook.com/makeyourlaws">Facebook</a>,  -->

<p>If you would like to join the team, just <a href="https://groups.google.com/a/makeyourlaws.org/forum/#!forum/team">introduce yourself</a> on the team mailing list, <a href="https://www.pivotaltracker.com/n/projects/9217">find something that needs to be done</a>, and contribute.</p>

<br/>

<p>For <b>general contacts</b> including bug reports, questions about the project, requests for more information, offers of assistance, etc, please contact the <b>full team</b> at <a href="mailto:team@makeyourlaws.org">team@makeyourlaws.org</a>. Please note that all email sent to or from this address is <a href="https://groups.google.com/a/makeyourlaws.org/forum/#!forum/team">publicly archived</a> for transparency.</p>

<p>For <b>issues that require privacy</b>, such abuse reports, problems processing payments, private contact information, personally identifiable information about specific users, etc. please contact the Make Your Laws <b>core team</b> at <a href="mailto:core@makeyourlaws.org">core@makeyourlaws.org</a>. This email is privately archived and only accessible to the core team. <em><strong>Never</strong> email us any passwords, credit card information, or the like.</em></p>

<p>You can also email pac, c4, or c3 (as appropriate) @makeyourlaws.org, leave us voicemail at +1 (717) 4 MYL MYL <i><small>(469-5695)</small></i>, fax +1 (206) 350-1309, or send physical mail to 500 Westover Dr #8458, Sanford, NC 27330.</p>

<% end %>
