<h1>Contact Us</h1>

<p>You can find us primarily on  <a href="https://plus.google.com/100183759660923071401/about">Google+</a>.</p>

<!-- , <a href="http://facebook.com/makeyourlaws">Facebook</a>, and <a href="http://twitter.com/makeyourlaws">Twitter</a> -->

<p>If you would like to join the team, just <a href="https://plus.google.com/100183759660923071401/posts/NQVuM65jZqp">introduce yourself</a> there,

<!-- at our <a href="https://secure.bettermeans.com/projects/2563">internal forum</a> --> 

find something that needs to be done, and contribute.</p>

<br/>

<p>For <b>general contacts</b> including bug reports, questions about the project, requests for more information, offers of assistance, etc, please contact the <b>full team</b> at <a href="mailto:team@makeyourlaws.org">team@makeyourlaws.org</a>. Please note that all email sent to or from this address is publicly archived for transparency.</p>

<p>For <b>issues that require privacy</b>, such abuse reports, financial information, private contact information, personally identifiable information about specific users, etc. please contact the Make Your Laws <b>core team</b> at <a href="mailto:core@makeyourlaws.org">core@makeyourlaws.org</a>. This email is privately archived and only accessible to the core team.</p>

<p>You can also leave us voicemail at +1 (717) 4 MYL MYL <i><small>(469-5695)</small></i>.</p>

<br/>

<p>For <b>press</b>, please contact <a href="mailto:team@makeyourlaws.org">team@makeyourlaws.org</a>. Please be sure to <b>list your deadline, affiliation, and type of request in the subject of your email</b>, and give further information in the body such as links to your previous work (especially similar articles), your planned perspective for the story, whether you want to talk on background or on the record, your official profile page(s), and what ways we can contact you. Please give us at least 24 hours' notice if you want to have an interview on the record, as it may take some time for the appropriate person to be available and to prepare for the interview. Please include in your email any specific questions that might require research, so that we can provide you with the latest numbers, pretty graphs, etc as appropriate.</p>

<p>We request to make our own full copy of any interviews recorded, and to have pre-publication review exclusively for the purpose of ensuring that our views are accurately represented and to catch errors such as misspelling, misattribution, factual inaccuracies, or incorrect links. We will not attempt to control your editorial perspective, and we will not violate your copyright or embargo; we simply want to ensure accuracy.</p>

<br/>

<p>For <b>security issues</b>, contact the core team at <a href="mailto:core@makeyourlaws.org">core@makeyourlaws.org</a>. We expect security researchers to obey the responsible disclosure guidelines common to the security community. Namely, you should disclose any vulnerabilities you find directly to us first, and give us a reasonable period to assess and respond to your information (at least 30 days, possibly more if the fix is complicated).</p>

<p>In return, we will work directly with you to fix any problems, provide additional analytics as appropriate, and help write up any needed report. We will also publicly thank and credit you for the disclosure. You are free, with our blessing and support, to disclose the issue publicly after we have fixed it and announced it to our users.</p>

<p>Please do not publicly disclose vulnerabilities in our systems, or do any intrusive or destructive tests, without first talking to us about it. If a potentially destructive test is required (such as an SQL injection that might change a database), we will work together to do so on a test system so that it does not negatively affect our users.</p>

<p>Our source code is at <a href="https://github.com/MakeYourLaws/MakeYourLaws">GitHub</a>. Please note that all code and submissions are currently © Sai (other than code that is already released under another license), until we incorporate and determine an appropriate open license (currently, we're looking to use the AGPL). If you have comments on this, please contact us.</p>
