<h1>Frequently Asked Questions</h1>

<ol>
	<li>
		<p><strong>Are you a PAC? Super PAC? Non profit?</strong></p>
		<p>All of the above, actually. We are incorporated as three separate but collaborating non-profit corporations:
			<ol>
				<li>Make Your Laws PAC, Inc. (MYL PAC), a 527 hybrid Super PAC (<a href="http://images.nictusa.com/cgi-bin/fecimg/?C00529743">FEC ID #C00529743</a>, EIN 46-0580579, <a href="https://docs.google.com/document/d/1BbKNamiQdlemLS28iGnkwrwar9vQ9HucK_S1PrZ2mu4/edit">bylaws</a>), handles candidate-related issues, like contributions to federal and state candidates or parties.</li>
				<li>Make Your Laws Advocacy, Inc. (MYL C4), a 501(c)4 (EIN 46-0587765, <a href="https://docs.google.com/document/d/1uQEetVLONuzNdY_EYvmPX5P5PHC0kgp6kE-cdeVOT0A/edit">bylaws</a>), handles non-candidate-related advocacy issues, like contributions to voter initiative committees.</li>
				<li>Make Your Laws Inc. (MYL C3), a 501(c)3 (EIN 61-1686259, <a href="https://docs.google.com/document/d/1ZU8yNZVC1AnSEKHm9nLN6WlEB6K2Kn2e5J6Mb-e37AI/edit">bylaws</a>), handles non-partisan, non-contribution-related issues, like voter education, forum creation, etc.</li>
			</ol>
		</p>
		<p>Of the three, only MYL PAC is currently active, and pays for all our operating costs. The other two are waiting on advice from the FEC for how to handle a <a href="https://docs.google.com/document/d/1chKtx2a0AaL3U2noCat5q-Z2ief1OGYRNPJ3_k-Ni5g/edit">variety of organizational and financial issues</a>.</p>
		<p>Although all MYL entities are tax-exempt nonprofit corporations, contributions to MYL PAC and MYL C4 are <strong>not</strong> tax deductible; contributions to MYL C3 are.</p>
	</li>
	<li>
		<p><strong>How do you spend your money?</strong></p>
		<p>You can see exactly how it gets spent on the <a href="http://bit.ly/JXCRbd">MYL budget spreadsheet</a>. (It currently requires manual updating, so might be behind.)</p>
	</li>
</ol>
