<%= t "Our activity before the FEC" %>

<ul>
	<li><strong>Pending:</strong> <%= link_to "Should PACs be allowed to accept Bitcoin contributions?", fec_bitcoin_path %></li>
	<li><strong>Draft:</strong> <%= link_to "Should you be allowed to make very flexible earmarks?", fec_earmarks_path %>
</ul>