<%= t "Our activity before the Federal Election Commission" %>

<ul>
	<li><strong>Filed 2014-02-10:</strong> <%= link_to "Should PACs be allowed to accept Bitcoin contributions?", fec_bitcoin_path %></li>
	<li><strong>Draft:</strong> <%= link_to "Should you be allowed to make very flexible earmarks?", fec_earmarks_path %>
	<li><strong>Finished (with no FEC decision):</strong> <%= link_to "Should the Tea Party Leadership Fund be granted an exemption from campaign finance reporting?", fec_tplf_path %>
</ul>