<h1>Our activity before the FEC</h1>

<p>Recently, another PAC <a href="http://saos.nictusa.com/aodocs/1245451.pdf" target="_blank">asked</a> the Federal Elections Commission (FEC) about whether it should be allowed to accept Bitcoins. <a href="http://saos.nictusa.com/aodocs/1246139.pdf" target="_blank">BitPay</a> and the <a href="http://saos.nictusa.com/aodocs/1246138.pdf" target="_blank">Bitcoin Foundation</a> commented on the request, and the FEC posted a <a href="http://saos.nictusa.com/aodocs/201315.pdf" target="_blank">draft advisory opinion</a>.</p>

<p>On November 12th, we formally <a href="/files/MYL%20PAC%20&%20MYL%20C4%20comment%20on%20AO%202013-15%20Conservative%20Action%20Fund.pdf" target="_blank">submitted a comment</a>. <span class="light">(The previous link is the original document. The <a href="http://saos.nictusa.com/aodocs/1247795.pdf" target="_blank">version</a> on the FEC website was printed and scanned, thus destroying its links and its legibility to screen readers.)</span></p>

<p>On November 13th, the FEC posted <a href="http://saos.nictusa.com/aodocs/201315_1.pdf" target="_blank">two new draft advisory opinions</a>, and we <a href="/files/MYL%20PAC%20&%20MYL%20C4%20comment%202%20on%20AO%202013-15%20Conservative%20Action%20Fund.pdf" target="_blank">submitted a supplemental comment</a> about new issues therein.</p>

<p>If you would like to submit your own comment for the record, just email ao@fec.gov, mention "AO 2013-15 Conservative Action Fund", give your name and the name of any group you represent, and explain your views in response to the above documents. The deadline is November 14th, 9am Eastern time.</p>