<h1>How to help</h1>

<p>As you've probably noticed, the website is very bare-bones. We're just getting started! If you have ideas for how to edit the site, or would like to help code the real thing for which this is just a placeholder, please join us.</p>

<ul>
	<li><p><b>Spread the word.</b> Add us on <a href="https://plus.google.com/100183759660923071401/about">Google+</a>, <a href="http://facebook.com/makeyourlaws">Facebook</a>, and <a href="http://twitter.com/makeyourlaws">Twitter</a> (though note, only G+ is currently active). Tell your friends, forums, school, work — anyone you think would be interested in helping to shape their own government, wherever they live, worldwide.</p></li>
	<li><p><b>Learn more.</b> Read our <%= link_to "introduction", introduction_path %> to online liquid democracy, the <%= link_to "principles", principles_path %> of our organization, our bootstrapping <%= link_to "strategy", strategy_path %> for eventually replacing entire legislatures.</p></li>
	<li><p><b><a href="https://plus.google.com/100183759660923071401/posts/NQVuM65jZqp">Join the Make Your Laws team.</a></b> We're mostly volunteers, a group of people who want to make a platform to revolutionize the way that people participate in making their own laws.</p>
		<p>You can contribute as much or as little as you want. You don't need to ask permission or go through a job interview — just join up, contribute something, and interact with us to make sure that it fits with what we need.</p>
		<p>We need people with a wide variety of skills, including but not limited to: programming; website and user experience design; network operations; art design; research and analytics; legal research and representation; grant writing and monitoring; community and abuse management; liaisons with local governments, political organizations, and academics; cryptographic design and review; security auditing; customer support; political advocacy; public relations, and more.</p>
		<p>We want to work with existing projects if possible, not compete with them. If you know a project that would merge well with our needs, we'd like to talk.</p>
		<p>If you think you can help, or know someone who can, please <%= link_to "contact", contact_path %> the team or just <a href="https://plus.google.com/100183759660923071401/posts/NQVuM65jZqp">introduce yourself</a> on our G+ page.</p></li>
	<li><p><b>Donations are not currently being accepted, pending upgrade to a new payment system.</b></p>
		<p>Although all MYL entities are tax-exempt nonprofit corporations, contributions (other than directly to MYL C3) are <i>not</i> tax deductible. However, you can see exactly how it gets spent on the <a href="http://bit.ly/JXCRbd">MYL budget spreadsheet</a>. Thanks in advance for your contribution!</p>
	</li>
</ul>




