<p>A century ago, people had to elect representatives to travel to far-away capitals, and trust them to make wise policy on behalf of their constituents. It was a compromise, but it was the best system of government available.</p>

<p>Today, we are as a population more educated and better connected than ever before. Our world view is truly a view of the world, not just of our own county. We are no longer constrained by the amount of information which can fit on paper, the sums we can do in our head, or how long it takes to ride a horse to the state capitol. There is no reason to continue to put up with the compromises of representative democracy, which were a product of their time and are now obsolete in every way.</p>

<p>The technology now exists for direct democracy online, for you to make your laws.</p>

<p>Please join our efforts in making direct democracy real.</p>


<h3>The goals of Make Your Laws</h3>

<p>Citizens of many republics, like the United States and most of Europe, are already allowed to propose and enact laws using what are called voter initiatives or ballot referenda. Make Your Laws brings popular usability to these existing legal mechanisms, through the use of social media and easy-to-enter discussions on proposals, to give every citizen an equal opportunity to galvanize and motivate, and ultimately to change the system we live in for the better.</p>

<p>Can you imagine it? Instead of merely arguing about the health of your government, you could be reading, writing and tweaking actual legislation. Instead of signing online petitions begging a politician to do the right thing, which are usually brushed off if not ignored, your vote on Make Your Laws will let you pass law yourself. You don't need anybody's permission to run your government; you just need to participate.</p>

<p>Imagine a discussion forum that enables people across the spectrum of opinion to join together, compromise realistically on difficult issues, and work together to make a better nation.  Make Your Laws runs on real people and real democracy, not just the same old two-party politics. Imagine a dozen people’s laws on the ballot every election: laws which come from the people, not just the lobbyists and the elites. </p>

<p>Imagine a system where those with power and money can't simply bribe politicians, through campaign financing and "fact-finding missions" which are bribes in all but name, because the "politicians" are we the people. Here, political campaigns are funded by grass-roots supporters, not lobbyists who pay thousands of dollars to have lunch with a politician. Here, our representatives know, on every single issue, exactly how their constituents want them to vote — and feel the consequences both when they agree and disagree with those beliefs.</p>

<p>Rather than being beholden to corporate and wealthy interests who buy our representatives though advertising and bring about a betrayal of their constituents' interests, we can bring our representatives' loyalties back where they belong: to us.</p>

<p>Imagine a system where political decisions are made on the basis of reasoned discussion, combining crowdsourced and expert review of the consequences of each proposal, accessible both to people who want summaries and ready advice, and to those who want to dig in to the details.</p>

<p>Does it sound incredible?  The amazing thing is only that no one has done it yet. The laws which enable citizens' referenda were passed generations ago. The technology to enable crowdsourced donations, review, and feedback has existed since Web 2.0. We are massively interconnected with social networking that can easily mobilize communities to act.  </p>

<p>It’s time for all of us to take that next step.  It’s way past time!</p>


<h3>How to help</h3>

<ul>
	<li><b>Spread the word.</b> Add us on <a href="https://plus.google.com/100183759660923071401/about">Google+</a>, <a href="http://facebook.com/makeyourlaws">Facebook</a>, and <a href="http://twitter.com/makeyourlaws">Twitter</a>. Tell your friends, forums, school, work — anyone you think would be interested in helping to shape their own government, wherever they live, worldwide.</li>
	<li><b>Learn more.</b> Read our <%= link_to "introduction", main_introduction_path %> to online liquid democracy, the <%= link_to "principles", main_principles_path %> of our organization, our bootstrapping <%= link_to "strategy", main_strategy_path %> for eventually replacing entire legislatures.</li>
	<li><b>Join the Make Your Laws team.</b> We're mostly volunteers, a group of people who want to make a platform to revolutionize the way that people participate in making their own laws.<br/>
		You can contribute as much or as little as you want. You don't need to ask permission or go through a job interview — just join up, contribute something, and interact with us to make sure that it fits with what we need.<br/>
		We need people with a wide variety of skills, including but not limited to: programming; website and user experience design; network operations; art design; research and analytics; legal research and representation; grant writing and monitoring; community and abuse management; liaisons with local governments, political organizations, and academics; cryptographic design and review; security auditing; customer support; political advocacy; public relations, and more. <br/>
		We want to work with existing projects if possible, not compete with them. If you know a project that would merge well with our needs, we'd like to talk.<br/>
		If you think you can help, or know someone who can, please <%= link_to "contact", main_contact_path %> the team or join our <a href="https://secure.bettermeans.com/projects/2563">internal forum</a>.</li>
	<li><b>Donations are <i>not</i> yet accepted.</b> We haven't yet formed a tax-exempt non-profit corporation, and we would like that to be in place first so that we can do our finances right. If you'd like to help with the incorporation process, again: please join our team!</li>
</ul>
	