<p>A century ago, people had to elect representatives to travel to far-away capitals, and trust them to make wise policy on behalf of their constituents. It was a compromise, but it was the best system of government available.</p>

<p>Today, we are as a population more educated and better connected than ever before. Our world view is truly a view of the world, not just of our own county. We are no longer constrained by the amount of information which can fit on paper, the sums we can do in our head, or how long it takes to ride a horse to the state capitol. There is no reason to continue to put up with the compromises of representative democracy, which were a product of their time and are now obsolete in every way.</p>

<p>The technology now exists for direct democracy online, for you to make your laws.</p>

<p>Please <%= link_to "join our efforts", help_path %> in making direct democracy real.</p>


<h3>The goals of Make Your Laws</h3>

<p>Citizens of many republics, like the United States and most of Europe, are already allowed to propose and enact laws using what are called voter initiatives or ballot referenda. Make Your Laws brings popular usability to these existing legal mechanisms, through the use of social media and easy-to-enter discussions on proposals, to give every citizen an equal opportunity to galvanize and motivate, and ultimately to change the system we live in for the better.</p>

<p>Can you imagine it? Instead of merely arguing about the health of your government, you could be reading, writing and tweaking actual legislation. Instead of signing online petitions begging a politician to do the right thing, which are usually brushed off if not ignored, your vote on Make Your Laws will let you pass law yourself. You don't need anybody's permission to run your government; you just need to participate.</p>

<p>Imagine a discussion forum that enables people across the spectrum of opinion to join together, compromise realistically on difficult issues, and work together to make a better nation.  Make Your Laws runs on real people and real democracy, not just the same old two-party politics. Imagine a dozen people’s laws on the ballot every election: laws which come from the people, not just the lobbyists and the elites. </p>

<p>Imagine a system where those with power and money can't simply bribe politicians, through campaign financing and "fact-finding missions" which are bribes in all but name, because the "politicians" are we the people. Here, political campaigns are funded by grass-roots supporters, not lobbyists who pay thousands of dollars to have lunch with a politician. Here, our representatives know, on every single issue, exactly how their constituents want them to vote — and feel the consequences both when they agree and disagree with those beliefs.</p>

<p>Rather than being beholden to corporate and wealthy interests who buy our representatives though advertising and bring about a betrayal of their constituents' interests, we can bring our representatives' loyalties back where they belong: to us.</p>

<p>Imagine a system where political decisions are made on the basis of reasoned discussion, combining crowdsourced and expert review of the consequences of each proposal, accessible both to people who want summaries and ready advice, and to those who want to dig in to the details.</p>

<p>Does it sound incredible?  The amazing thing is only that no one has done it yet. The laws which enable citizens' referenda were passed generations ago. The technology to enable crowdsourced donations, review, and feedback has existed since Web 2.0. We are massively interconnected with social networking that can easily mobilize communities to act.  </p>

<p>It’s time for all of us to take that next step.  It’s way past time!</p>