<p>For over a hundred years, people have elected representatives, leaders, to travel to distant capitals and seats of government to makes laws as their appointed ruler. People have had to trust their leaders to rule fairly, to address their concerns and to act in their interests. It has always been a compromise, the best that was available, defined by what was feasible and pragmatic.</p>

<p>We, the people of today, are a people better educated, better connected and better informed. When we perceive our world, we think of the whole globe, not just our town, our state or our country. We are a people no longer restricted by the old physical constraints which held back people in the past; that which must be written on paper, that which must be calculated in the head, that which must be carried hundreds of miles on the back of a horse. Yet our democracy continues to be contained by these imagined limits, long since obsolete. </p>

<p>Today there is the potential for representative, direct and real democracy, the potential for you to make your laws. Please, <%= link_to "join our efforts", help_path %> and you can help make real, direct democracy real</p>


<h3>The goals of Make Your Laws</h3>

<p>The people of most modern democracies are already able to propose and enact laws using “voter initiatives” or “ballot referenda”. Makes Your Laws brings accessibility to these existing legal mechanisms, using social media and open discussions on proposals, in order to give each and every one of us an equal opportunity to become involved in and, ultimately, change the system we live in for the better.</p>

<p>The intention of Make Your Laws is to build a world in which we can read, write and change real legislation rather than relying upon others to do it for us. This will be a society where we wouldn’t need to argue about the state of our government, to beg politicians to do the right thing or to ask for permission to run our society. You participate. You vote. And you make the laws.</p>

<p>Imagine a forum which enables people of all points of view to unite, compromise realistically on difficult issues and work together to make a better society. Imagine a system free from corrupting influences and driven by grass-roots support where our representatives understand the wishes of the people and can be held to account. Imagine a system where decision is based upon discussion, a blend of crowdsourcing and expert advice with accessibility to both the overview and the details. Make Your Laws is driven by real people and real democracy, independent of party and corporate interests.</p>

<p>Impossible? In reality, it only seems impossible that it has not happened yet. The laws enabling citizens’ referenda were passed generations ago. The technology to enable it to happen (Web 2.0) has existed for many years. Join us, take the next step, because this is what democracy looks like.</p>