<h2>Hello.</h2>

<p>Are you
	<ol><li>seriously interested in direct participatory democracy, liquid democracy, and similar issues, and</li>
		<li>willing to help me out in the seed stage of a project aimed at nothing less than the eventual complete replacement of current governments with direct democracies?</li>
	</ol>
</p>

<h3>Please <a href="http://saizai.com">contact me.</a></h3>

<p>I'm going to need lots of people with different skills to make this work, from hackers and designers to civil rights lawyers, community organizers, and funders.</p>

<p>The project would be 100% open source and nonprofit (though hopefully we'd have the funding to have some fulltime salaried employees). It's not aimed at any particular political ideology, but rather at the system itself — at creating a system that's less prone to corruption, undue influence, ignoring voters, and ignoring facts.</p>

<p>However, I'm not ready to make the details fully public just yet, so for now this would be a private conversation. I have a domain name, an idea, and a perfect time to act on it. I'd like it to be better polished, with a minimal core team in place, before it goes public — and preferably with a beta app that would serve as a start.</p>

<h2>Make your laws.</h2>