<p>For centuries, people have elected representatives to travel to distant seats of government, to makes their laws for them. People have had to trust their leaders to rule fairly, to address their concerns and to act in their interests. It has always been a compromise, the best that was available, limited by what was physically possible.</p>

<p>We today are a people better educated, better connected, and better informed than ever. We are a people no longer restricted by the old physical constraints which held back people of the past: that which must be written on paper, calculated in the head, or carried hundreds of miles on the back of a horse. Yet our government continues to be contained by these imagined limits, long since obsolete.</p>

<p>Today, there is the potential for real direct democracy. The potential for you to make <b>your</b> laws. Please <%= link_to "join our efforts", help_path %> and you can help make true democracy a reality.</p>


<h3>The goals of Make Your Laws</h3>

<p>The people of most modern democracies are already able to propose and enact laws using <i>voter initiatives</i> or <i>ballot referenda</i>. Makes Your Laws begins by bringing accessibility to these existing legal mechanisms, using the tools of the modern web. When each and every one of us has an equal opportunity to become involved in our governance, we will, ultimately, change the system we live in for the better.</p>

<p>The intention of Make Your Laws is to build a world in which we can read, write and change <b>real legislation</b>, rather than relying upon politicians to do it for us. This will be a society where we wouldn’t need to argue about the state of our government, beg politicians to do the right thing or ask for their permission to run our society.</p>

<p>You participate. You vote. You make your laws.</p>

<p>Imagine a forum which enables people of all points of view to unite, compromise realistically on difficult issues, and work together to make a better society. Imagine a system free from corrupt politicians, driven by grass-roots support, where our representatives understand the wishes of their people and can be easily held to account. Imagine a system where decision is based upon discussion, a blend of crowdsourcing and expert advice with accessibility to both the overview and the details. Make Your Laws is driven by real people and real democracy, independent of party and corporate interests.</p>

<p>Impossible? We think it's not merely inevitable, but surprising that it has not happened yet. The laws enabling citizens’ referenda were passed generations ago. The technology to enable it to happen  has existed for many years.</p> 

<p><%= link_to "Join us", help_path %> and take the next step to create this platform.</p> 

<p>Because <b>this</b> is what democracy looks like.</p>