<h1>What is liquid democracy?</h1>

<p>Most Western governments call themselves "democracies,” a term which generally means a government by the people, and specifically, a majority thereof.</p>

<p>However, a more appropriate name for this kind of government is a republic, or a representative democracy. The essential feature of a republic is that the voters in a particular district decide on people to represent them at every level of government, from city councils to state / province senates, to national congress and President / Prime Minister. These people then make all legislative decisions for their electorate as they alone see fit until their term of office (typically 2-6 years) ends. </p>

<p>In many cases, however, political careers span decades, and even generations.</p>

<p>In a simple direct democracy such as was practiced in ancient Greece, every voter votes on every issue. This ensures that everyone participates in decision-making, and alleviates some of the problems with having representatives, but it has two main problems.</p>

<p>First, you just can't get a million people into a single room, let alone have them discuss and decide on issues in an orderly and efficient way.</p>

<p>Second, not everyone is interested in every decision, nor do they necessarily have the expertise to be able to participate in all parts of a discussion.</p>

<h2>Proxies</h2>

<p>We improve on both of these systems with a liquid democracy, also known as transferable proxy system.</p>

<p>As in a direct democracy, every voter has one vote, and can (if they choose to) vote on every proposal that comes up for discussion.</p>

<p>However, voters also have a number of proxies or advisors for particular topics. These are people or organizations the voter trusts to accurately represent their own values, but who are more involved in the political process overall, more expert in a particular area, or someone eloquent and thoughtful whose opinions they consider influential.</p>

<p>Proxies can in turn have their own proxies, and the vote is transferred along the chain.</p>

<p>For example, suppose that Alice doesn't really follow politics very much, but she knows that her brother Bob follows the news better and shares her overall values. She proxies to Bob for everything, though she may overrule his decisions sometimes. </p>

<p>Bob in turn trusts organizations like the ACLU, NRA, and the AMA, and chooses them as proxies for civil liberties, gun control, and medical issues respectively. The AMA in turn proxies to single-issue experts in specific fields, and trusts their research.</p>

<p>When that expert believes that people should vote in favor of a specific proposal to improve the quality of drinking water, the AMA backs their decision, Bob backs the AMA's, and Alice backs Bob's. This results in that expert having the effective power of three votes (their own, plus Alice's and Bob's by proxy).</p>

<p>If Bob's proxies disagree on something — for instance, the ACLU may want to put a stricter control on gun regulations that the NRA opposes — then Make Your Laws tells him about it, presents him with a summary of the proposal, its factual background and consequences, and the arguments pro and con. Bob can then decide for himself how he wants to make the tradeoff value, and the proxies' power is changed accordingly.</p>

<p>At every stage, every voter can participate directly if they like — but they can also delegate their decisions to, or simply receive advice from, the people and organizations they trust — just like any executive or legislator. Voters can give or withdraw their support to someone at any time, making the entire process fluid and organic, based directly on ongoing performance.</p>

<h2>Privacy and transparency</h2>

<p>Votes, by default, are always private. Nobody knows how you vote on a given issue unless you choose to make that public, though they do know the total number of votes pro/con on that issue.</p>

<p>Likewise, proxying is private by default. Your proxy knows how many people they represent, and can mass contact their constituents through a special system, but they don't necessarily know that you are proxying to them unless you choose to make that public.</p>

<p>However, a proxy is required to make their votes and proxyings open to the people they represent. This ensures transparency, and lets voters always know how their vote is being used.</p>

<p>Someone can be a private proxy — revealing their votes only to their friends and family who have trusted them as an advisor. Or they can be a public proxy, making their votes public, and being available for anyone to add as an advisor in return. This can be further constrained by topic; for instance, a financial services pundit can make their votes on financial issues public, and be publicly available as a proxy for those issues, but keep their votes on religious issues private.</p>

<p>The choice is always in the hands of the individual as to how public or private they want to be. We just ensure that transparency is there where it's needed.</p>

<h2>Automatic assistance</h2>

<p>Make Your Laws makes this intuitive process of trust even easier through some clever use of technology. Of course, users can always proxy to people they know and trust personally — their friends, family, and other influential figures in their lives. But often, users will want to know what experts and organizations are more dedicated to their issues.</p>

<p>First, based on how an individual responds to examples of controversial proposals, we can recommend to the user a number of public proxies who share their views and can be trusted to better track the issues on a given topic.</p>

<p>Second, as part of the discussion process, users will find that they end up agreeing or disagreeing with people that they might not have otherwise had contact with — people who, through the organic process of social interaction, become influential through their words. Make Your Laws makes it easy to add these people to one's list of advisors.</p>

<p>Finally, when there are differences of opinions between proxies, Make Your Laws can ask the user questions that will help to determine what advisors might better serve their needs, and better represent their views overall.</p>