<%= t "Press" %>

<% cache do %>

<h2>Articles mentioning MYL</h2>
<ul>
	<li>2014-04-01 "<a href="http://www.mondaq.com/unitedstates/x/303716/Constitutional+Administrative+Law/Last+Week+at+the+FEC+Potential+Controversy+over+Dormant+Funds+Opinion">Last Week At The FEC: Potential Controversy Over Dormant Funds Opinion</a>" — <a href="http://www.hklaw.com/Andrew-Emerson/">Andrew H. Emerson</a>, <em><a href="http://www.hklaw.com/">Holland &amp; Knight</a></em></li>
	<li>2014-02-18 "<a href="http://www.mondaq.com/unitedstates/x/294154/Fiscal+Monetary+Policy/Last+Week+At+The+FEC+Commission+Asked+To+Approve+A+Framework+For+Acceptance+And+Use+Of+Bitcoins">Last Week At The FEC: Commission Asked To Approve A Framework For Acceptance And Use Of Bitcoins</a>" — <a href="http://www.hklaw.com/Andrew-Emerson/">Andrew H. Emerson</a>, <em><a href="http://www.hklaw.com/">Holland &amp; Knight</a></em></li>
	<li>2013-11-19 "<a href="http://www.forbes.com/sites/kashmirhill/2013/11/19/no-you-cant-donate-bitcoin-to-politicians-yet/" target="_blank">No, You Can't Donate Bitcoin To Politicians Yet</a>" — <a href="http://www.forbes.com/sites/kashmirhill/" target="_blank">Kashmir Hill</a>, <em>Forbes</em></a></li>
	<li>2013-11-14 "Campaign Finance: Vote on Bitcoin Ruling Delayed As FEC Discusses Disclosure Concerns" — <a href="http://go.bloomberg.com/political-capital/author/kpdoyle/" target="_blank">Ken Doyle</a>, <em><a href="http://www.bna.com/money-politics-report-p6103/" target="_blank">BNA Money &amp; Politics Report</a></em></li>
</ul>


<h2>Media contact</h2>

<p><strong>&lt; 24 hour deadline:</strong> call Sai at 510 394 4724.</p>

<p><strong>&gt; 24 hour deadline:</strong> email <a href="mailto:team@makeyourlaws.org">team@makeyourlaws.org</a> with your deadline, a link to your previous work, what you want to talk about, and contact info.</p>

<p>A couple notes:
	<ol>
		<li>For internal record-keeping and transparency, we need to record all calls.</li>
		<li>Because we're a strictly non-partisan organization, we can't discuss any personal opinions, politics, etc.</li>
		<li>MYL's founder is Sai (that's a <a href="http://en.wikipedia.org/wiki/Mononym">mononym</a>) and would prefer you not use a title like "Mr.".</li>
	</ol>
</p>

<% end %>