<%= t "Press" %>

<% cache do %>

<h2>Media contact</h2>

<p><strong>&gt; 24 hour deadline:</strong> Email <a href="mailto:sai@makeyourlaws.org">sai@makeyourlaws.org</a> with your deadline, a link to your previous work, what you want to talk about, and contact info.</p>

<p><strong>&lt; 24 hour deadline:</strong> Email your info, then call Sai at +1 717 469 5695.</p>

<ul class="small flush flat">
	<li>For internal record-keeping, we need to record all calls. (We'll send you a copy, and we don't post it publicly.)</li>
	<li>Because we're a strictly non-partisan organization, we can't discuss any personal opinions, politics, etc.</li>
	<li>Sai, MYL's founder, is <a href="http://en.wikipedia.org/wiki/Mononym">mononymic</a> and would prefer you not use a title like "Mr.".</li>
	<li>We appreciate having an opportunity to check quotes and facts. We absolutely respect journalistic independence, but many articles go up with errors and we'd like to help you avoid that.</li>
</ul>

<h2>MYL at conferences</h2>
<ul class="flush flat">
	<li><a href="http://www.coe.int/en/web/world-forum-democracy/lab11_">World Forum for Democracy 2013</a> — <a href="https://www.youtube.com/watch?v=jahnHk6DAoI&list=PLB350213D4F5B545C">video</a></li>
	<li><a href="http://toorcamp.toorcon.net/">Toorcamp</a> 2012 - <a href="https://www.youtube.com/watch?v=hzd03xBWxvQ&list=PLB350213D4F5B545C">video</a></li>
	<li><a href="http://www.hopenumbernine.net/schedule/#make">HOPE 9</a> — <a href="https://www.youtube.com/watch?v=DSAfqf3zYk4&list=PLB350213D4F5B545C">video</a></li>
	<li><a href="http://pknraleigh.com">PechaKucha Night Raleigh</a> — <a href="https://www.youtube.com/watch?v=0bbgInahojI&list=PLB350213D4F5B545C">video</a></li>
</ul>

<h2>Articles mentioning MYL</h2>
<ul class="flush flat">
	<li>2014-05-08 "<a href="http://www.politico.com/story/2014/05/fec-oks-bitcoin-campaign-donations-106492.html">FEC OKs bitcoin campaign donations</a>" — <a href="http://www.politico.com/reporters/ByronTau.html">Byron Tau</a>, <em><a href="http://www.politico.com/">Politico</a></em></li>
	<li>2014-05-08 "<a href="http://www.coindesk.com/fec-approves-bitcoin-kind-donations-us-political-campaigns/">FEC Approves Bitcoin In-Kind Donations for US Political Campaigns</a>" — <a href="http://www.coindesk.com/author/stan/">Stan Higgins</a>, <em><a href="http://www.coindesk.com/news/">Coindesk</a></em></li>
	<li>2014-05-08 "<a href="http://www.theverge.com/2014/5/8/5695344/fec-says-political-committees-can-accept-bitcoin">FEC says political committees can accept bitcoin donations</a>" — <a href="http://www.theverge.com/users/ChrisWelch">Chris Welch</a>, <em><a href="http://www.theverge.com/policy">The Verge</a></em></li>
	<li>2014-05-08 "<a href="http://www.thewire.com/politics/2014/05/fec-rules-pacs-can-accept-bitcoin-donations/361928/">FEC Rules PACs Can Accept Bitcoin Donations</a>" — <a href="http://www.thewire.com/authors/allie-jones/">Allie Jones</a>, <em><a href="http://www.thewire.com/politics/">The Wire</a></em></li>
	<li>2014-05-08 "<a href="http://money.cnn.com/2014/05/08/technology/bitcoin-politics/index.html">Bitcoin OK for politics, with $100 limit</a>" — <a href="http://twitter.com/jenliberto">Jennifer Liberto</a>, <em><a href="http://money.cnn.com/">CNN Money</a></em></li>
	<li>2014-05-08 "<a href="http://www.publicintegrity.org/2014/05/08/14739/what-fecs-bitcoin-ruling-means">What the FEC's Bitcoin ruling means</a>" — <a href="http://www.publicintegrity.org/authors/dave-levinthal">Dave Levinthal</a>, <em><a href="http://www.publicintegrity.org/politics">Center for Public Integrity</a></em></li>
	<li>2014-05-05 "<a href="http://www.cryptocoinsnews.com/news/wisconsin-government-accountability-board-forces-candidate-return-bitcoin-donation/2014/05/05">Wisconsin Government Accountability Board Forces Candidate To Return Bitcoin Donation</a>" — <a href="http://www.cryptocoinsnews.com/author/caleb-chen">Caleb Chen</a>, <em><a href="http://www.cryptocoinsnews.com/category/news">Cryptocoins News</a></em></li>
	<li>2014-04-29 "<a href="http://www.hklaw.com/PoliticalLawBlog/Last-Week-at-the-FEC-Continued-Delay-on-Bitcoins-04-29-2014/">Last Week at the FEC: Continued Delay on Bitcoins</a>" — <a href="http://www.hklaw.com/Andrew-Emerson/">Andrew H. Emerson</a>, <em><a href="http://www.hklaw.com/news/uniGC.aspx?xpST=BlogList&type=2572">Holland &amp; Knight</a></em></li>
	<li>2014-04-29 "<a href="http://www.coinbuzz.com/2014/04/28/curious-case-fec-bitcoin/">The curious case between the FEC, bitcoin</a>" — <a href="http://www.coinbuzz.com/author/andrew-moran/">Andrew Moran</a>, <em><a href="http://www.coinbuzz.com/legal/">Coinbuzz</a></em></li>
	<li>2014-04-27 "<a href="http://www.cryptocoinsnews.com/news/libertarian-party-texas-other-political-organizations-accept-bitcoin-donations/2014/04/27">Libertarian Party Of Texas And Other Political Organizations Accept Bitcoin Donations</a>"  — <a href="http://www.cryptocoinsnews.com/author/caleb-chen">Caleb Chen</a>, <em><a href="http://www.cryptocoinsnews.com/category/news">Cryptocoins News</a></em></li>
	<li>2014-04-24 "<a href="http://www.lawandpoliticsupdate.com/2014/04/fec-delays-issuing-opinion-on-bitcoin-contributions/">FEC Delays Issuing Opinion on Bitcoin Contributions</a>" — Nicholas Bauer, <em><a href="http://www.lawandpoliticsupdate.com">Perkins Coie Law &amp; Politics Update</a></em></li>
	<li>2014-04-24 "<a href="http://uselectionwatch.com/7609/fec-weighs-bitcoin/">FEC Weighs Bitcoin</a>" — <a href="http://uselectionwatch.com/author/nmcgill/">Nancy McGill</a>, <em><a href="http://uselectionwatch.com">US Election Watch</a></em></li>
	<li>2014-04-24 "<a href="http://www.virtualcurrencyreport.com/2014/04/federal-election-commission-punts-a-second-time-on-bitcoin/?utm_source=feedburner&utm_medium=feed&utm_campaign=Feed%3A+VirtualCurrencyReport+%28Virtual+Currency+Report%29">Federal Election Commission Punts a Second Time on Bitcoin</a>" — <a href="http://www.perkinscoie.com/jfarber">Jacob S. Farber</a>, <em><a href="http://www.virtualcurrencyreport.com">Perkins Coie Virtual Currency Report</a></em></li>
	<li>2014-04-23 "<a href="http://www.coindesk.com/us-election-commission-delays-decision-bitcoin-campaign-contributions/">US Election Commission Delays Decision on Bitcoin Campaign Contributions</a>" — <a href="http://www.coindesk.com/author/nermin-hajdarbegovic/">Nermin Hajdarbegovic</a>, <em><a href="http://www.coindesk.com/news/">CoinDesk</a></em></li>
	<li>2014-04-23 "<a href="http://thehill.com/blogs/hillicon-valley/technology/204166-fec-supportive-of-allowing-bitcoins-for-campaigns">FEC supportive of allowing bitcoins for campaigns</a>" — <a href="http://thehill.com/author/julian-hattem">Julian Hattem</a>, <em><a href="http://thehill.com/social-tags/bitcoin">The Hill</a></em>
	<li>2014-04-23 "<a href="http://www.pfhub.com/fec-federal-election-commission-mulling-bitcoin-donations-for-political-campaigns-587/">FEC (Federal Election Commission) mulling bitcoin donations for political campaigns</a>" — <a href="http://www.pfhub.com/author/andrew-moran/">Andrew Moran</a>, <em><a href="http://www.pfhub.com/news/bitcoin-btc/">PFhub</a></em></li>
	<li>2014-04-23 "<a href="http://www.cryptocoinsnews.com/news/fec-likely-allow-bitcoin-donations-100-worth-per-election-per-recipient-per-contributor/2014/04/23">FEC Likely To Allow Bitcoin Donations Up To $100 Worth Per Election Per Recipient Per Contributor</a>" — <a href="http://www.cryptocoinsnews.com/author/caleb-chen">Caleb Chen</a>, <em><a href="http://www.cryptocoinsnews.com/category/news">Cryptocoins News</a></em></li>
	<li>2014-04-22 "<a href="http://www.nationaljournal.com/tech/fec-will-consider-allowing-bitcoin-donations-to-political-campaigns-20140422">FEC Will Consider Allowing Bitcoin Donations to Political Campaigns</a>" — <a href="http://www.nationaljournal.com/reporters/bio/193">Dustin Volz</a> &amp; <a href="http://www.nationaljournal.com/reporters/bio/182">Alex Brown</a>, <em><a href="http://www.nationaljournal.com/tech">National Journal</a></em></li>
	<li>2014-04-22 "<a href="http://money.cnn.com/2014/04/22/technology/bitcoin-political-contributions/index.html">You could soon use bitcoin to support political campaigns</a>" — <a href="http://twitter.com/jenliberto">Jennifer Liberto</a>, <em><a href="http://money.cnn.com/">CNN Money</a></em></li>
	<li>2014-04-21 "<a href="http://www.hklaw.com/PoliticalLawBlog/Last-Week-at-the-FEC-Commission-Confirms-That-Federal-Funds-Can-Support-State-Candidates-04-21-2014/">Last Week at the FEC: Commission Confirms That Federal Funds Can Support State Candidates</a>" — <a href="http://www.hklaw.com/Andrew-Emerson/">Andrew H. Emerson</a>, <em><a href="http://www.hklaw.com/news/uniGC.aspx?xpST=BlogList&type=2572">Holland &amp; Knight</a></em></li>
	<li>2014-04-21 "<a href="http://blogs.wsj.com/moneybeat/2014/04/21/bitbeat-bitcoin-and-political-donations/">BitBeat: Bitcoin and Political Donations</a>" — <a href="http://topics.wsj.com/person/A/biography/7296">Paul Vigna</a> &amp; <a href="http://topics.wsj.com/person/A/biography/7448">Michael J. Casey</a>, <em><a href="http://blogs.wsj.com/moneybeat/">Wall Street Journal MoneyBeat</a></em></li>
	<li>2014-04-17 "<a href="http://trailblazersblog.dallasnews.com/2014/04/fec-poised-to-issue-advisory-opinion-on-use-of-bitcoin-in-campaign-donations.html/">FEC poised to issue advisory opinion on use of bitcoin in campaign donations</a>" — <a href="http://trailblazersblog.dallasnews.com/author/mlindenberger/">Michael Lindenberger</a>, <em><a href="http://www.dallasnews.com/">Dallas Morning News</a></em></li>
	<li>2014-03-31 "<a href="http://www.hklaw.com/PoliticalLawBlog/Last-Week-at-the-FEC-Audit-Reports-Budgets-and-Strategic-Planning-03-31-2014/">Last Week At The FEC: Potential Controversy Over Dormant Funds Opinion</a>" — <a href="http://www.hklaw.com/Andrew-Emerson/">Andrew H. Emerson</a>, <em><a href="http://www.hklaw.com/news/uniGC.aspx?xpST=BlogList&type=2572">Holland &amp; Knight</a></em></li>
	<li>2014-02-18 "<a href="http://www.hklaw.com/PoliticalLawBlog/Last-Week-at-the-FEC-Commission-Asked-to-Approve-a-Framework-for-Acceptance-and-Use-of-Bitcoins-02-18-2014/">Last Week At The FEC: Commission Asked To Approve A Framework For Acceptance And Use Of Bitcoins</a>" — <a href="http://www.hklaw.com/Andrew-Emerson/">Andrew H. Emerson</a>, <em><a href="http://www.hklaw.com/news/uniGC.aspx?xpST=BlogList&type=2572">Holland &amp; Knight</a></em></li>
	<li>2013-11-19 "<a href="http://www.forbes.com/sites/kashmirhill/2013/11/19/no-you-cant-donate-bitcoin-to-politicians-yet/" target="_blank">No, You Can't Donate Bitcoin To Politicians Yet</a>" — <a href="http://www.forbes.com/sites/kashmirhill/" target="_blank">Kashmir Hill</a>, <em><a href="http://www.forbes.com/technology">Forbes Technology</a></em></a></li>
	<li>2013-11-14 "Campaign Finance: Vote on Bitcoin Ruling Delayed As FEC Discusses Disclosure Concerns" — <a href="http://go.bloomberg.com/political-capital/author/kpdoyle/" target="_blank">Ken Doyle</a>, <em><a href="http://www.bna.com/money-politics-report-p6103/" target="_blank">BNA Money &amp; Politics Report</a></em></li>
</ul>

<% end %>