<h1>What are the principles of Make Your Laws?</h1>

<p>We believe that in order to be successful as a platform for people of widely varying political beliefs to come together productively, we must adhere to certain principles.</p>

<p>These are the principles of the Make Your Laws project and team itself.</p>

<ol>
	<li>We pledge to be completely nonpartisan. 
		<p>We serve all electors equally, no matter what their location, affiliations, or political beliefs. Although team members as individuals may disagree with what users propose, it is our job to support their right to propose whatever they wish. Our role is simply to facilitate.</p>
		<p>There is one limited exception, which is that Make Your Laws will advocate, in limited ways, for issues that are core to our success as a project. This includes, for instance, rights to online participation in governance; direct democracy; open access to government records; Internet accessibility; and freedom from online censorship. In these very limited cases, we will be explicit about our support and the extent thereof, and we will in no way censor or suppress users' objections to our own proposals.</p>
	</li>
	<li>We pledge to encourage and promote reasoned, fact-based, collaborative, compromise-encouraging discussion. 
		<p>We will try to ensure that the facts and analyses upon which users make their decisions are easily available and understandable, fact-checked, and adequate. This is especially important for issues that are contentious; it is our duty to bring different sides together, to ensure they see clearly their true commonalities and differences, and to foster positive discussion amongst people who disagree.</p>
	</li>
	<li>We pledge to enable transparency and to be transparent ourselves.
		<p>We will ensure that political advertising we host is appropriately fact-checked and sourced. We will ensure that voters always know how their proxies are being used, and have the opportunity to take direct control.</p>
		<p>We will make our work open source and our database available for replication and analysis (with a couple caveats, below). We will make our decisionmaking as a team open to the public to review and participate, and welcome new members who would like to help. We operate on the "bazaar" model as much as possible.</p>
		<p>Where necessary, we will handle some issues privately — such as passwords, sensitive or legal matters, changes that we want to test privately before public announcement, etc.</p>
	</li>
	<li>We will protect the privacy and security of our users.
		<p>We will respond quickly to correct responsibly disclosed security vulnerabilities, work directly with the security researchers who report them, and give them credit for their help. We will scrub our databases before release to ensure that private information stays private. We will store sensitive data securely. We will make our systems available for audit by security professionals. We will immediately disclose to our users any security problems that arise, and take steps to prevent and correct them.</p>
	</li>
	<li>We will act as a not-for-profit company that puts public service first.
		<p>Our software will be free for everyone to use for non-commercial purposes, so long as others share the improvements they make with us in return.</p>
		<p>We will make money, but do so in ethical ways. This may include things like making easy ways to donate to political organizations, and taking a small cut; hosting appropriate advertisements; allowing users to pay for premiums, such as removing advertisements or having 'flair'; obtaining grants from governments and NGOs; seeking investment from groups that support our mission; getting donations from supporters; etc.</p>
		<p>Additionally, we may make another version of our platform available for commercial use, for example to allow companies to make internal decisions using liquid democracy principles, and to let their customers participate in their decisionmaking process.</p>
		<p>While most of our team will be volunteers, those who spend a significant amount of time on the project may be brought on as full or part time employees. These employees will be compensated appropriately for their skills.</p>
		<p>All profits that we make will be reinvested in the project, to expand the scope of what we can do, grow our team, pay people for the effort they have put in, etc.</p>
	</li>
</ol>