<%= t "Whitehats welcome" %>

<p>For <b>security issues</b>, contact the core team at <a href="mailto:core@makeyourlaws.org">core@makeyourlaws.org</a>. We expect security researchers to follow responsible disclosure guidelines — just disclose any vulnerabilities you find directly to us first, and give us a reasonable period to assess and fix the situation.</p>

<p>In return, we will work directly with you to fix any problems, provide additional analytics as appropriate, and help write up any needed report. We will also publicly thank and credit you for the disclosure. You are of course free, with our blessing and support, to disclose the issue publicly after we have fixed it and announced it to our users.</p>

<p>Please do not publicly disclose vulnerabilities in our systems, or do any intrusive or destructive tests, without first talking to us about it. If a potentially destructive test is required (such as an SQL injection that might change a database), we will work together to do so on a test system so that it does not negatively affect our users.</p>

<p>Our source code is on <a href="https://github.com/MakeYourLaws/MakeYourLaws">GitHub</a>. Please note that all of our code is AGPL licensed and jointly owned by the Make Your Laws group (other than code from a third party library or that is released under another license).</p>
