<h1>Our Strategy</h1>

<p>Our mission is to allow normal citizens to directly participate in every aspect of their legislative process, worldwide. Put another way, we aim to replace the republic (or "representative democracy") form of government with that of liquid democracy.</p>

<p>This is a grand goal, to be sure, and it will require a large number of components to work.</p>

<p>To get there, we start small: we bootstrap through the legal rights that citizens already have, and simply make them much more powerful and easier to use through the clever use of modern web technology.</p>

<h2>Strategic Principles</h2>

<p>We adopt a few strategic principles that other projects do not, to give ourselves a better shot at practical long-term success.</p>

<ul class="bullet">
	<li><b>Always have teeth; no begging.</b> We will not be just another petitions site that gets ignored or brushed off, and we will not waste our users' energy on efforts that will go nowhere. We will not beg incumbents to do what we want; we will simultaneously use both carrots and sticks wherever possible. We will not be satisfied with mere rhetoric or anything short of real legal change.</li>
	<li><b>No waiting on external change.</b> There are lots of legal changes that would help us, sure. But we can't e.g. be <i>dependent</i> on a law to change before we can have power, or it never will. We change the laws after we have the political power to do so; it will not do so for us. Same goes for being dependent on some incumbent politician being willing to sign up for direct representation; while it's self-beneficial and sustaining once started, we can't expect anyone with power to want to change how they're doing things now.</li>
	<li><b>Power must scale at least linearly to the number of participants; no minimum bandwagon requirement.</b> If a system is only useful if all of your friends are on it too (let alone something like a majority of the public), it's almost certainly going to be stillborn.</li>
	<li><b>Work within the current system, 100% legally.</b> Protest, civil disobedience, cultural change, awareness-raising for its own sake, etc., all have their place. This is not that. This brings constraints (we have to obey a variety of regulations) but also clearer routes to systemic change.</li>
	<li><b>Work with what's already made where effective.</b> If we can bootstrap better by punting things to existing social networks, ally with other open projects to produce common tools, or take advantage of existing tools of power that are so far reserved for only some, we should. There's lots that we need to create; we don't have to redo it all unless there's a significant benefit.</li>
</ul>

<h2>Roadmap</h2>


<p>This is our current, very rough, high-level roadmap. </p>

<p>We expect to deliver the first few points within the next two years. Later points are more complex, and face greater challenges, so will take significantly longer. This is a long term project, and we will need your support and participation throughout the process.</p>

<ol>
	<li>We will enable normal people to donate to any political entity, to coordinate collective financial action to have maximum impact, and to use all the tools that only the rich and well-organized get to use now. We will extend that to make the process as easy and powerful as possible for the general public.</li>
	<li>We will enable citizens to legally sign ballot propositions in their jurisdiction(s) online. We will handle the paperwork needed to get these truly voter-initiated propositions the official ballot for vote, once it has enough support that we believe it will have a shot at passing on election day.</li>
	<li>We will let our users see the match between their interests and those of their representatives and other politicians who want their vote. Voters will be able to see per-issue feedback on how well they match the platform of their representatives, and politicians will be able to see per-issue feedback on how their own constituency wants them to vote.</li>
	<li>We will begin setting up structure of liquid democracy, through advisor and trust relationships, proxy finding, better discussion tools, etc.</li>
	<li>We will give easy access to factual context of proposals (eg financial projections; outcomes of similar previous legislation; etc), fact-check important claims and discussions, illustrate the range of political support for particular proposals, etc.</li>
	<li>We will enable people to easily jointly author, discuss, and research potential legislation.</li>
	<li>We will enable voters to give day to day feedback to their representatives (and their opponents) by enabling per-issue donations for or against the reelection of a politician, to pro or con advocacy organizations of ballot propositions, and tools that allow grassroots discussions to be summarized and understood by people making executive level decisions.</li>
	<li>We will support the election of representatives who pledge to have their vote directly controlled by their constituents.</li>
	<li>We will enable a better way of authoring, storing, and changing laws, so that people can easily know what other jurisdictions do, what changes they have made that might be desirable to copy or reject, what the legal effects of a particular change might be, etc. </li>
	<li>We will create better tools to visualize, amend, and issue budgets, so that decision makers can understand what the near and long term consequences will be of a given change, and so that they can understand their choices both in larger comparative perspective and in terms of how it will affect specific people.</li>
	<li>We will vote the people into gradually increasing direct power over all aspects of legislation, and relegate representatives to advisory and administrative assistants of the people, much as regulatory agencies and non-partisan legislative analyst offices currently advise and assist the legislature.</li>
</ol>