<h1>Terms of Service</h1>

<p>This policy may change at any time without notice. You can view its complete history 
	<a href="https://github.com/MakeYourLaws/MakeYourLaws/commits/master/app/views/main/tos.html.erb">here</a>.</p>

<p>Essentially, our terms of service are: be honest, be civil, and don't mess up others' experience.</p>

<p>Make Your Laws PAC is a Federally registered political action committee. If we are asking
	you information related to a political contribution, it is a violation of Federal law to 
	lie, and we will comply 100% with any legal action to enforce FEC regulations.</p>
	
<p>However, outside of the context of a FECA-regulated campaign contribution, we support your
	rights to <%= link_to "privacy", privacy_path %>.</p>
	
<p>Do not try to damage our systems, harm the privacy of other users, harass other users, or the like.
	If you are a security researcher, we are interested in actively cooperating with hacking in the 
	spirit of responsible disclosure; please <%= link_to "contact our core team", contact_path %> if
	this applies to you.</p>
	
