<%= form_for(@initiative, :url => initiatives_path, :validate => true) do |f| %>
  <table>
	<%= render :partial => "initiative_edit", :locals => {:f => f} %>
    <tr>
      <td/>
      <td><%= f.submit "Add initiative" %></td>
    </tr>
  </table>
<% end %>