<div class="flash notice l">
	<p>There is a pending FEC advisory opinion request about <%= link_to "whether PACs should be allowed to accept Bitcoin contributions", fec_bitcoin_path %>, which we have commented on and you can too.</p>
	<p>We are also working on our own request, about <%= link_to "whether you should be allowed to make very flexible earmarks", fec_earmarks_path %>.</p>
	
</div>