<div class="flash notice l">
	<p>We just filed a request for the FEC to re-consider <%= link_to "how to handle Bitcoin contributions to PACs", fec_bitcoin_path %>. We're also working on a request to ask the FEC <%= link_to "whether you should be allowed to make very flexible earmarks", fec_earmarks_path %>.</p>
	<p>MYL founder Sai was recently at the <a href="http://www.coe.int/en/web/world-forum-democracy/lab11_" target="_blank">World Forum for Democracy</a> at the Council of Europe. Watch our <a href="https://plus.google.com/100183759660923071401/" target="_blank">Google+ page</a> for updates and follow-ups.</p>
</div>