<div class="flash notice l">
	<p>PENDING: <%= link_to "Should the Tea Party Leadership Fund be granted an exemption from campaign finance reporting?", fec_tplf_path %> — we've commented, you can too.</p>
	<p>We're also working on our own request to ask the FEC <%= link_to "whether you should be allowed to make very flexible earmarks", fec_earmarks_path %>. We may ask the FEC to re-consider <%= "how to handle Bitcoin contributions", fec_bitcoin_path %>.</p>
	<p>MYL founder Sai will be at the <a href="http://www.coe.int/en/web/world-forum-democracy/lab11_" target="_blank">World Forum for Democracy</a> at the Council of Europe Nov 23-29. Watch our <a href="https://plus.google.com/100183759660923071401/" target="_blank">Google+ page</a> for updates.</p>
</div>