<div class="flash notice l">
	<p>There is a pending FEC advisory opinion request about whether PACs should be allowed to accept Bitcoin contributions. </p>
	<p>You can read more about it, and our response, on our <%= link_to "FEC activity page", fec_path %>.</p>
</div>