.DS_Store
Icon?
db/*.sqlite3
log/*.log
tmp/
config/keys/*
!config/keys/PASSWORDS_GO_HERE
!config/keys/*.fake
!config/keys/tor_hostname
!config/keys/database.test
.sass-cache/
.project
*.sql
db/data/
!db/data/DATA_DUMPS_GO_HERE
public/system
vendor/cache/libv8*
!vendor/cache/libv8*linux.gem
