.DS_Store
.bundle
db/*.sqlite3
log/*.log
tmp/
config/keys/
!config/keys/PASSWORDS_GO_HERE
.sass-cache/
vendor/cache/
.project
*.sql
db/data/
!db/data/DATA_DUMPS_GO_HERE
public/files/
doc/wallet-instantbuy-quickstart-ruby
