<%= t "Bitcoin contributions to PACs" %>

<div class="flash notice l">We officially filed our request on Feb. 10. We'll know within 10 days whether the FEC accepts it as complete; if yes, it will likely be designated AO 2014-01.</div>

<p class="c b"><a href="https://docs.google.com/document/d/1AVuXrnNPynEcIq07MTgZPCjXMJICxtKeRH0jshYHVk8/" atrget="_blank">Google Doc of our full request</a></p>

<p>In August 2013, Conservative Action Fund PAC (CAF) asked the Federal Elections Commission (FEC) for an advisory opinion request (AOR) about whether they should be permitted to accept contributions of Bitcoin.</p>

<p>We <a href="#caf">commented on that request extensively</a>, raising several issues with it that CAF failed to address. Though the underlying issues are complex, there were three main problems:
	<ol>
		<li>transparency and auditability — Bitcoin is designed to protect its users' privacy; political contributions need to be tracable to a real person and limit anonymous contributions</li>
		<li>prevention of money laundering, financial exploitation, and legal loopholes — people can abuse Bitcoin "refunds" or contributions between different types of political organizations</li>
		<li>legal and technical catch-22s — Bitcoin intersects campaign finance law in some non-obvious ways</li>
	</ol>
</p>

<p>The FEC wasn't able to decide on CAF's request. They agreed informally that PACs should in principle be allowed to accept Bitcoins, but couldn't formally agree on <em>how</em>. Nevertheless, some political committees are already accepting Bitcoin, <em>without</em> any guidance about how one could obey the law while doing so.</p>

<a name="aor"></a>
<h2><a href="#aor">Our request</a></h2>

<p>February 2<sup>nd</sup> 2014, <%= link_to "we", faq_path %> (i.e. MYL PAC) submitted <a href="https://docs.google.com/document/d/1AVuXrnNPynEcIq07MTgZPCjXMJICxtKeRH0jshYHVk8/" atrget="_blank">our own advisory opinion request about Bitcoin contributions</a>, proposing our own policy for accepting Bitcoin which we believe would permit a reasonable treatment of Bitcoin contributions and be a good template for others to follow. It <a href="#other">omits a few things</a> that we'd like to address later, for the sake of simplicity.</p>

<p>Because this is an AOR and not a rulemaking, we are strictly limited to asking the FEC "may we, MYL PAC, do this". We can't ask them to impose <em>requirements</em> on other political committees, and what we propose would only be one of (potentially) multiple ways of obeying the law.</p> 

<p>However, if we are successful in getting the FEC's approval for our method, it's likely that other political committees will do the same.</p>

<p>Here's a summary of our proposal:
	<ol>
		<li><strong>Receiving Bitcoin</strong>
			<ol>
				<li>We will only receive Bitcoins online (i.e. no "physical" Bitcoins), <em>after</em> the contributor provides their information, and only through a "one-time linked address" system that makes it harder to contribute in someone else's name.</li>
				<li>We will keep records of all Bitcoin-specific transaction details (much like the records kept for check or credit card contributions).</li>
				<li>We won't accept any Bitcoins or Bitcoin-derived contributions from any "issue advocacy" (501(c)4) organization.</li>
				<li>Both the "traditional" and "SuperPAC" sides of MYL PAC (which is a "hybrid" SuperPAC) will follow the same rules. Bitcoin contributions will be separated the same as any other assets (e.g. with separate "contribution" vs "independent expenditure" wallets).</li>
				<li>We will refund Bitcoins in USD only, for contributors who have identified themselves to us. (Our request <a href="#other">doesn't address</a> anonymous contributions.)</li>
			</ol>
		</li>
		<li><strong>Spending Bitcoin</strong>
			<ol>
				<li>We <em>won't</em> spend Bitcoins for solicitation, advertising, polling, transfers, loans, refunds, candidate appearances, or political contributions (including transfers to other PACs).</li>
				<li>We <em>will</em> spend Bitcoins for administrative/overhead expenses (including normal transaction fees to anonymous Bitcoin miners), salary, travel, campaign materials, and campaign event expenses (not including payments to candidates).</li>
				<li>We will accept merchants' Bitcoin-specific discounts (if they're offered equally to non-political clients).</li>
			</ol>
		</li>
	</ol>
</p>

<a name="c4"></a>
<h2><a href="#c4">Why different treatment for some types of spending and contributions?</a></h2>

<p>A 501(c)4 is only supposed to do "issue advocacy" (e.g. "Yes on Proposition X" type campaigns, lobbying, etc). In doing so, they are allowed to accept totally anonymous money. By contrast, PACs affect political elections, and anyone doing so is required to only use money from openly disclosed, non-foreign sources.</p>

<p>There's currently a giant loophole in that system (aka the "501(c)4 to Super PAC money laundering loophole") — which the IRS is <a href="https://www.federalregister.gov/articles/2013/11/29/2013-28492/guidance-for-tax-exempt-social-welfare-organizations-on-candidate-related-political-activities" target="_blank">currently considering closing</a> — and we feel it's especiailly prudent to ensure that contributions from a 501(c)4, which can easily originate from a totally anonymous third party, aren't used to influence elections.</p>

<p>We feel that it should be fine for a PAC to use Bitcoin to buy food, pay salaries, and other relatively less sensitive items — but that money spent on advertising, political contributions, etc., should go through better regulated, traditional banking channels, which are easier to audit when necessary.</p>

<a name="other"></a>
<h2><a href="#other">What we <em>didn't</em> cover</a></h2>

<p>In order to simplify this request, we decided <em>not</em> to include a few things that we'd like to see addressed:</p>

<ol>
	<li>We believe that PACs should only be allowed to accept $100 worth of Bitcoin per person per year. This is already true of cash donations, but of course Congress didn't anticipate Bitcoin back in 1980 when it last amended the <a href="http://www.law.cornell.edu/uscode/text/2/441g">underlying law</a>. We believe the <em>intent</em> of that law was to limit contributions that are <em>hard to trace</em>, which would include Bitcoin.</li>
	<li>We believe that Bitcoin contributions that are anonymous, suspicious, or illegal for a PAC to accept should be given to the US Treasury, or to a 501(c)4 or 501(c)3 (which, unlike PACs, are allowed to take totally anonymous contributions and contributions from foreign nationals). However, <a href="http://www.law.cornell.edu/cfr/text/11/103.3#b">current FEC regulations</a> require even clearly illegal contributions to be returned to the contributor.<br/> 
		It is not currently possible to reliably return Bitcoins to the control of the person who sent them, and we believe it is more ethical to give illegal campaign finance contributions to an entity allowed to take anonymous contributions than to return them.<br/>
		Even worse, it is impossible to prevent totally anonymous Bitcoin users from sending us Bitcoins <em>outside</em> of our system for getting information on contributors. Any such contributions would be both illegal for us to possess and impossible to return, so we believe we should be allowed to give them to an entity allowed to accept unlimited anonymous contributions.</li>
	<li>We believe that 501(c)4s <em>can</em> accept unlimited, completely anonymous Bitcoin contributions, so long as they are only used for genuine issue advocacy (or contribution to charity) and <em>never</em>, directly or indirectly, used to influence the election of any politician.</li>
	<li>We believe that some unusual and/or malicious Bitcoin contributions (e.g. ones that are <a href="https://bitcointalk.org/index.php?topic=278122.0">more expensive to spend</a> <a href="https://code.google.com/p/bitcoin-wallet/wiki/DustTransactions">than they're worth</a>) shouldn't be counted at all.</li>
</ol>

<p>We intend to raise some of these issues in a future AOR, when we have a specific situation to address (e.g. if we receive an anonymous Bitcoin contribution). Some issues (like refunds or a cap on the total amount given) might be addressable through an "as applied" interpretation of existing regulations, or might require regulatory or legal changes.</p>

<a name="comment"></a>
<h2><a href="#comment">How you can get involved</a></h2>

<p>We want to know what you think, and the FEC does too.</p>

<p>To tell us informally, just email <a href="mailto:team@makeyourlaws.org?subject=Comments%20on%20bitcoin%20AOR">team@makeyourlaws.org</a> or comment on the <a href="https://docs.google.com/document/d/1AVuXrnNPynEcIq07MTgZPCjXMJICxtKeRH0jshYHVk8/">Google doc</a>.</p>

<p>Once our request is officially posted, you'll also be email the FEC with your comments.</p>

<p>If you <%= link_to "create an account", signup_path %>, we'll let you know when that happens, and also tell you when we launch the Make Your Laws democratized campaign finance website. (What you see now is only a placeholder.)</p>


<!-- <p>To tell the FEC, just email <a href="mailto:ao@fec.gov?subject=Comments%20AO%202014-01">ao@fec.gov</a> or fax the FEC's Secretary at +1 (202) 208-3333 and Office of General Counsel at +1 (202) 219-3923.</p>

<p>Give your name (and the name of any organization you represent), and mention the formal name of our request ("AO 2014-01"). Be clear and polite. Explain how you believe Bitcoins should (or shouldn't) be treated in campaign finance — and why.</p>

<p>If you can, it's better to make a more formal-looking comment. General email comments usually get lumped together, whereas if you take a little extra time to make a good-looking PDF and explain your reasoning in more detail, it'll appear separately and be looked at more seriously. There are no mandatory formatting requirements, but we suggest you use 12 pt Arial w/ 1.5 line spacing for body text; 1 inch margin; and have a header saying "(your [group's] name) comments on AO 2014-01" &amp; the page # / # total pages.</p> -->

<hr/>

<a name="caf"></a>
<h2><a href="#caf">CAF's request</a></h2>

<p>On August 13th, Conservative Action Fund PAC <a href="http://saos.nictusa.com/aodocs/1245451.pdf" target="_blank">asked</a> the Federal Elections Commission (FEC) about whether it should be allowed to accept Bitcoins. <a href="http://saos.nictusa.com/aodocs/1246139.pdf" target="_blank">BitPay</a> and the <a href="http://saos.nictusa.com/aodocs/1246138.pdf" target="_blank">Bitcoin Foundation</a> commented on the request, and the FEC posted a <a href="http://saos.nictusa.com/aodocs/201315.pdf" target="_blank">draft advisory opinion</a>.</p>

<p>On November 12th, we formally <a href="/files/MYL%20PAC%20&%20MYL%20C4%20comment%20on%20AO%202013-15%20Conservative%20Action%20Fund.pdf" target="_blank">submitted a comment</a> pointing out several problems with the proposal, and suggesting ways to fix them.</p>

<p>On November 13th, the FEC posted <a href="http://saos.nictusa.com/aodocs/201315_1.pdf" target="_blank">two new draft advisory opinions</a>, and we <a href="/files/MYL%20PAC%20&%20MYL%20C4%20comment%202%20on%20AO%202013-15%20Conservative%20Action%20Fund.pdf" target="_blank">submitted a supplemental comment</a> about new issues therein.</p>

<p>On November 14th, the FEC held an <a href="http://fec.gov/agenda/2013/agenda20131114.shtml" target="_blank">open meeting</a> in which they <a href="http://www.fec.gov/press/press2013/news_releases/20131114release.shtml" target="_blank">decided</a> (<a href="http://www.fec.gov/audio/2013/2013111402.mp3" target="_blank">meeting audio</a>), in part based on our comment, to delay the matter until their <a href="http://www.fec.gov/agenda/2013/agenda20131121.shtml" target="_blank">November 21st meeting</a>, to give their lawyers time to draft a new response.</p>

<p>On November 16th, we <a href="/files/MYL%20PAC%20&%20MYL%20C4%20comment%203%20on%20AO%202013-15%20Conservative%20Action%20Fund.pdf" target="_blank">filed comments</a> to address issues discussed in the FEC's Nov 14th meeting; on November 20th, the Bitcoin Foundation <a href="http://saos.nictusa.com/aodocs/1248189.pdf" target="_blank">did the same</a>, and the FEC issued their <a href="http://saos.nictusa.com/aodocs/1248186.pdf" target="_blank">fourth draft opinion</a>, which would have allowed dibursement of Bitcoins.</p>

<p>On November 21st, the FEC deadlocked 3-3 (<a href="http://fec.gov/audio/2013/2013112101.mp3" target="_blank">audio</a>), issuing a <a href="http://saos.nictusa.com/aodocs/AO%202013-15.pdf" target="_blank">final non-decision</a>.</p>

