<%= t "Political organizations accepting Bitcoin" %>

<p class="c b"><%= link_to "Our Bitcoin request", fec_bitcoin_path %></p>

<p>This is a list of all political organizations (parties, PACs, candidate committees, 501(c)4s, etc) that we know of who accept Bitcoin contributions.</p>

<p>Please <%= mail_to "core@makeyourlaws.org", "email us", subject: "Political organization accepting Bitcoin" %> if you know of any we don't yet list, or if you know of any specific transactions that appear to have been made anonymously, through Bitcoin laundering, in excess of federal or state contribution limits, etc.</p>

<p>Of course, we do not accuse anyone of violating the law (that is for the FEC to investigate and determine), and please don't cause any such transactions.</p>

<table>
	<tr>
		<th>Type</th>
		<th>Name</th>
		<th>Campaign finance reports</th>
		<th>Publicly known addresses</th>
		<th style="width: 35%;">Notes</th>
	</tr>
	<tr>
		<td class="small">National party</td>
		<td><a href="http://www.lp.org/make-a-bitcoin-contribution">Libertarian Party</a></td>
		<td><a href="http://docquery.fec.gov/cgi-bin/fecimg/?C00255695">C00255695</a></td>
		<td></td>
		<td class="small">Donation page will give linked address w/out donor info, thus permitting totally anonymous Bitcoin contributions.</td>
	</tr>
	<tr>
		<td class="small">Presidential candidate</td>
		<td><A href="http://darrylwperry.com/donate/">Darryl W Perry</a></td>
		<td><a href="http://docquery.fec.gov/cgi-bin/fecimg/?P60004868">P60004868</a></td>
		<td><a  href="https://blockchain.info/address/1DWP16K2oeZEsX5z6vPWsZJ7GB5ajtgcb4">1</a>, <a href="http://block-explorer.com/address/LeU8KBCEz2LuBgR3aXFxRu68qiiUeqCeyh">2</a>, <a href="http://block-explorer.com/address/LbuXfKMzNiEq5fP8cZ616EYEg3hD3wbTJU">3</a> (source <a href="http://darrylwperry.com/donate">1</a>, <a href="http://docquery.fec.gov/pdf/038/13031070038/13031070038.pdf">2</a>)</td>
		<td class="small">Accepts totally anonymous Bitcoin contributions. Single <a href="http://docquery.fec.gov/pdf/038/13031070038/13031070038.pdf">letter to FEC</a> says he will not make any disclosures and claims FEC has no jurisdiction over his receipt of "Bitcoin, Litecoin, and precious metals".</td>
	</tr>
	<tr>
		<td class="small">Federal candidate</td>
		<td>
			<a href="https://stockman2014.com/bitcoin-donation">Steven Stockman</a>
		</td>
		<td><a href="http://docquery.fec.gov/cgi-bin/fecimg/?C00553909">C00553909</a></td>
		<td><a href="https://blockchain.info/address/1EVJyd8TbHBMUiMn6ogQ1PXbqoEZVp31Hz">1</a> (<a href="http://www.businessinsider.com/steve-stockman-is-accepting-bitcoins-2014-1">source</a>)</td>
		<td class="small">Run by <a href="http://www.dbcapitalstrategies.com/">Dan Backer</a>, who represented <%= link_to "CAF's Bitcoin AOR", fec_bitcoin_caf_path %>. Because there is a publicly known Bitcoin address, they cannot prevent (and may have received) totally anonymous Bitcoin contributions.</td>
	</tr>
	<tr>
		<td class="small">Federal candidate</td>
		<td><a href="http://jimfulner.com">Jim Fulner</a></td>
		<td><a href="http://docquery.fec.gov/cgi-bin/fecimg/?C00549808">C00549808</a></td>
		<td><a href="https://blockchain.info/address/194TQCmRBJGo456juzxBaJRh6LzKvtu996">1</a> (<a href="http://jimfulner.com/contact.html">source</a>)</td>
		<td class="small">Because there is a publicly known Bitcoin address, they cannot prevent (and may have received) totally anonymous Bitcoin contributions.</td>
	</tr>
	<tr>
		<td class="small">Federal candidate</td>
		<td><a href="http://blaineforuscongress.com/">Blaine Richardson</a></td>
		<td><a href="http://docquery.fec.gov/cgi-bin/fecimg?C00518514">C00518514</a></td>
		<td></td>
		<td class="small">Accepts totally anonymous Bitcoin contributions</td>
	</tr>
	<tr>
		<td class="small">Hybrid SuperPAC</td>
		<td><a href="http://www.bit-pac.com/donate/">BitPAC</a></td>
		<td><a href="http://docquery.fec.gov/cgi-bin/fecimg/?C00550400">C00550400</a></td>
		<td></td>
		<td class="small">Run by Dan Backer; donation page will give linked address w/out donor info, thus permitting totally anonymous Bitcoin contributions.</td>
	</tr>
	<tr>
		<td class="small">SuperPAC</td>
		<td><a href="http://www.1911united.com/">1911 United</a></td>
		<td><a href="http://docquery.fec.gov/cgi-bin/fecimg/?C00508200">C00508200</a></td>
	</tr>
	<tr>
		<td class="small">PAC</td>
		<td><a href="http://coinpac.org/contribute.html">Coin PAC</a></td>
		<td><a href="http://docquery.fec.gov/cgi-bin/fecimg/?C00553073">C00553073</td>
	</tr>
	<tr>
		<td class="small">Michigan party affiliate</td>
		<td><a href="http://livingstonlibertarians.org/">Livingston County Libertarians</a></td>
		<td><a href="http://docquery.fec.gov/cgi-bin/fecimg/?C00403907">C00403907</a></td>
		<td><a href="https://blockchain.info/address/17T3xM9BWfw28YGUuBU3KYUF5gGRALh1fB">1</a> (<a href="http://livingstonlibertarians.org/#text-5">source</a>)</td>
		<td class="small">Because there is a publicly known Bitcoin address, they cannot prevent (and may have received) totally anonymous Bitcoin contributions.</td>
	</tr>
	<tr>
		<td class="small">Maine candidate</td>
		<td><a href="https://brakey.nationbuilder.com/donate">Eric L Brakey</td>
		<td><a href="https://secure.mainecampaignfinance.com/PublicSite/SearchPages/CommitteeDetail.aspx?OrgID=6551">6551</a></td>
	</tr>
	<tr>
		<td class="small">New Hampshire candidate</td>
		<td><a href="http://www.markwarden.com/page/bitcoin-donation">Mark Warden</a></td>
		<td>?</td>
	</tr>
	<tr>
		<td class="small">California city council candidate</td>
		<td><a href="http://glenn2014.com/donate/">Michael B Glenn</a></td>
		<td>?</td>
	</tr>
	<tr>
		<td class="small">SuperPAC</td>
		<td><a href="http://bitcoinsuperpac.org">Bitcoin SuperPAC</a></td>
		<td><a href="http://docquery.fec.gov/cgi-bin/fecimg/?C00551689">C00551689</a></td>
		<td></td>
		<td class="small">Defunct</td>
	</tr>
	<tr>
		<td class="small">SuperPAC</td>
		<td><a href="http://bitcoinvoterspac.org">Bitcoin Voters PAC</a></td>
		<td><a href="http://docquery.fec.gov/cgi-bin/fecimg/?C00554063">C00554063</a></td>
		<td>
			<a href='https://blockchain.info/address/18kKJ15uz1nuMJ2kacuahLKLL9NwnsbRQi'>1</a>,
			<a href='https://blockchain.info/address/1EsR4cdbgPvnD3Gk6wNkTotdzexiN56wXt'>2</a>,
			<a href='https://blockchain.info/address/14jc8MtHxE6M6Xn7LarvZnXF6GgaaRy1PY'>3</a>,
			<a href='https://blockchain.info/address/12QeAyDyXiMVn5uwpQUHwS8g2Z3SZf2Kvx'>4</a>,
			<a href='https://blockchain.info/address/1GuHY98Bxf4mFw2CQEUXqwDUTRqnTRrCt8'>5</a>,
			<a href='https://blockchain.info/address/113pdko8qQYsvkbV4r7H247oFPFNMnUYqY'>6</a>,
			<a href='https://blockchain.info/address/1M9AfWnRFmgQgAuTsQssL523ANsxKzfygs'>7</a>,
			<a href='https://blockchain.info/address/199JdcXMQ41eA9ZPTLUktR9kfAiQRhaErW'>8</a>,
			<a href='https://blockchain.info/address/1AZxfdTXg5V3gRZMtMfQZrwgBeaQMAtKqN'>9</a>,
			<a href='https://blockchain.info/address/1NyuGppGprR6uM2koN7hH8wGP8bk6wKh15'>10</a>
			(<a href="http://docquery.fec.gov/pdf/794/14031144794/14031144794.pdf">source</a>)
		</td>
		<td class="small">Defunct</td>
	</tr>
</table>
