<%= t "Should the FEC prohibit contribution laundering?" %>

<% cache do %>
<p class="c">REG 2015-03 <a href="/files/2015-05-14 MYL PAC & MYL C4 petition for rulemaking to prohibit contribution laundering.pdf">2015-05-14 Petition for Rulemaking</a>  | <a href="#docs">docs</a></p>

<p>Current FEC and IRS regulations permit political committees with independent expenditure accounts ("Super PACs") to receive contributions from 501(c)(4) "social welfare" corporations — which themselves have no public reporting obligations.</p>

<p>This hole in the regulations, combined with recent Supreme Court court decisions, <a href="https://www.opensecrets.org/outsidespending/faq.php">has made it easy</a> for unlimited, completely anonymous, potentially foreign-sourced money to be used to influence U.S. elections. In the 2012 federal election cycle, this "dark money" <a href="https://www.opensecrets.org/outsidespending/nonprof_summ.php">totaled roughly $257 million</a>. It's estimated to be much higher in the 2016 election.</p>

<p>In effect, this is money laundering for political contributions ("contribution laundering").</p>

<p>We believe that this plainly subverts the purpose of our campaign finance laws, as well as the  assumptions of public disclosure relied on by our courts.</p>

<p>Though recent court decisions have allowed corporations to purchase political speech through "independent expenditures", this right does not extend to the purchase of <em>anonymous</em> speech.</p>

<br/>
<p>Our proposal to cure this problem is simple and very narrowly tailored: we are asking the FEC to require that any corporation contributing more than $1k/yr to influence elections do so through a publicly reported bank account (known as an "SSF" or "<em>Carey</em> account") — and that all reporting disclose not just the last hop in what is potentially a chain of shell corporations, but also the <em>original</em>, human contributor.</p>

<p>This would <em>not</em> require issue advocacy organizations to disclose donors for their issue advocacy spending. That remains private. This <em>only</em> affects money used to influence an election.</p>


<a name="docs"></a>
<h2><a href="#docs">Official filings in REG 2015-03 (MYL PAC &amp; C4 re contribution laundering)</a></h2>

<p>2016-03-10 <a href="http://sers.fec.gov/fosers/showpdf.htm?docid=350334">Statement by Commissioner Ravel</a>.</p>

<a name="comments"></a>
<p>2015-10-27 Public comments (see also <%= link_to "voluminous public comments on REG 2015-04", fec_ravel_weintraub_path(anchor: 'comments') %>):
    <ul>
        <li>
            Pro
            <ul>
                <li>Individuals
                    <ul>
                        <li><a href="http://sers.fec.gov/fosers/showpdf.htm?docid=341397">Catherine Eimers</a></li>
                        <li><a href="http://sers.fec.gov/fosers/showpdf.htm?docid=341241">Benjamin Kerensa</a></li>
                        <li><a href="http://sers.fec.gov/fosers/showpdf.htm?docid=341316">Virginia Morales</a></li>
                        <li><a href="http://sers.fec.gov/fosers/showpdf.htm?docid=341251">Richard Simpson</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            Con
            <ul>
                <li><a href="http://sers.fec.gov/fosers/showpdf.htm?docid=341660">Center for Individual Freedom</a></li>
                <li><a href="http://sers.fec.gov/fosers/showpdf.htm?docid=341242">Public Interest Legal Foundation</a> and Hans von Spakovsky</li>
                <li><a href="http://sers.fec.gov/fosers/showpdf.htm?docid=341253">Center for Competitive Politics</a></li>
                <li><a href="http://sers.fec.gov/fosers/showpdf.htm?docid=341246">Freedom Partners Chamber of Commerce</a></li>
                <li><a href="http://sers.fec.gov/fosers/showpdf.htm?docid=341245">Pillar of Law Institute</a></li>
                <li>Individuals
                    <ul>
                        <li><a href="http://sers.fec.gov/fosers/showpdf.htm?docid=341335">Logan Churchwell</a></li>
                        <li><a href="http://sers.fec.gov/fosers/showpdf.htm?docid=341254">Cleta Mitchell</a>, Foley &amp; Lardner LLP</li>
                        <li><a href="http://sers.fec.gov/fosers/showpdf.htm?docid=341384">Tricia Moyer</a></li>
                        <li><a href="http://sers.fec.gov/fosers/showpdf.htm?docid=341337">Christopher Reece</a></li>
                        <li><a href="http://sers.fec.gov/fosers/showpdf.htm?docid=341336">John Saunders</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</p>

<p>2015-07-31 <a href="http://www.fec.gov/pages/fecrecord/2015/august/noacontributionsfromcorpsorgs.shtml">FEC Record page</a></p>

<p>2015-07-29 <a href="https://www.federalregister.gov/articles/2015/07/29/2015-18495/rulemaking-petition-contributions-from-corporations-and-other-organizations-to-political-committees">Notice of availability</a></p>

<p>2015-07-15 <a href="/files/2015-07-15 Supplemental authority re. REG 2015-03.pdf">addendum</a> re <em><a href="https://scholar.google.com/scholar_case?case=8177814012370008221">Doe v. Reed</a></em></a></p>

<p>2015-05-14 <a href="/files/2015-05-14 MYL PAC & MYL C4 petition for rulemaking to prohibit contribution laundering.pdf">Petition for rulemaking</a></p>

<% end %>