<%= t "Should the FEC prohibit contribution laundering?" %>

<% cache do %>
<p class="c"><a href="/files/2015-05-14 MYL PAC & MYL C4 petition for rulemaking to prohibit contribution laundering.pdf">Petition for Rulemaking</a></p>

<p>Current FEC and IRS regulations permit political committees with independent expenditure accounts ("Super PACs") to receive contributions from corporations, including 501(c)(4) corporations, which themselves have no reporting obligations under the FECA regarding their contributions or expenditures.</p>

<p>This hole in the regulations, combined with recent court decisions in EMILY's List, Citizens United, SpeechNow, Carey, and McCutcheon, has made it possible for unlimited, completely anonymous, potentially foreign-sourced money to be used to influence U.S. elections. In the 2012 federal election cycle, this "dark money" totaled roughly $257 million.</p>

<p>In effect, this is money laundering for political contributions ("contribution laundering").</p>

<p>We believe that this plainly subverts the purpose of our campaign finance laws, as well as the  assumptions of public disclosure relied on by our courts.</p>

<p>Recent court decisions have allowed corporations to purchase political speech through "independent expenditures". However, this right does not extend to the purchase of <em>anonymous</em> speech.</p>

<br/>
<p>Our proposal to cure this problem is simple and very narrowly tailored: we are asking the FEC to require that any corporation contributing more than $1k/yr to influence elections do so through a publicly reported bank account (known as an "SSF" or "<em>Carey</em> account") — and that all reporting disclose not just the last hop in what is potentially a chain of shell corporations, but also the <em>original</em>, human contributor.</p>

<p>For details, please read our <a href="/files/2015-05-14 MYL PAC & MYL C4 petition for rulemaking to prohibit contribution laundering.pdf">petition for rulemaking</a>.</p>

<p>It was submitted on May 14, 2015. The FEC typically takes 1-2 months to officially publish rulemaking petitions (in a "notice of availability") and start taking public comments. We'll update this page when that happens. In the meantime, we welcome your feedback.</p>

<% end %>