<%= t "Should the FEC amend its regulations in the wake of Citizens United?" %>

<% cache do %>
<p class="c">REG 2015-04 <a href="/files/2015-06-18 MYL PAC & MYL C4 petition for rulemaking re Citizens United.pdf">Petition for Rulemaking</a> | <a href="#docs">docs</a></p>

<p>During the Federal Election Commission's <a href="http://www.fec.gov/agenda/2015/agenda20150618.shtml">June 18th meeting</a> regarding <a href="http://www.fec.gov/members/statements/Petition_for_Rulemaking.pdf">REG 2015­-02</a>, a petition for rulemaking brought by Chair Ravel and Commissioner Weintraub, several Commissioners raised procedural concerns with REG 2015­-02.</p>

<p>In order to moot these procedural concerns, MYL PAC &amp; MYL C4 re-filed Ravel &amp; Weintraub's petition in their own name during the June 18th meeting. <a href="https://www.citizen.org/pressroom/pressroomredirect.cfm?ID=5558">Public Citizen</a> did the same later that day.</p>

<p>On May 14th, we filed a <%= link_to "petition to prohibit contribution laundering", fec_laundering_path %>, which expresses a different and more narrow position.</p>

<p>Though we are filing this petition on our own behalf, we are not commenting on or editing its content (except to remove references to Chair Ravel and Commissioner Weintraub). We intend to file comments, along with the rest of the public, after a notice of availability is published.</p>

<p>The petition <a href="http://sers.fec.gov/fosers/showpdf.htm?docid=346628">deadlocked</a> 3-3.</p>


<a name="docs"></a>
<h2><a href="#docs">Official filings in REG 2015-04 (MYL PAC &amp; C4, Public Citizen re Citizens United)</a></h2>

<p>2016-03-10 <a href="http://sers.fec.gov/fosers/showpdf.htm?docid=350383">Statement by Commissioner Ravel</a>.</p>

<p>2015-12-17 <a href="http://sers.fec.gov/fosers/showpdf.htm?docid=346628">Deadlocked</a> 3-3.</p>

<a name="comments"></a>
<p>2015-10-27 Voluminous public comments filed:
    <ul>
        <li>Pro
            <ul>
                <li><a href="http://sers.fec.gov/fosers/showpdf.htm?docid=341814">Public Citizen</a>, <em>joined by</em> Campaign for Accountability, Center for Media and Democracy, Daily Kos, Franciscan Action Network, Friends of the Earth,  Iowa Citizens for Community Improvement, Mayday.US, and MoneyOut! PeopleIn! Coalition</a></li>
                <li><A href="http://sers.fec.gov/fosers/showpdf.htm?docid=341825">Brennan Center for Justice</a></li>
                <li><a href="http://sers.fec.gov/fosers/showpdf.htm?docid=341815">Citizens for Responsibility and Ethics in Washington (CREW)</a></li>
                <li><a href="http://sers.fec.gov/fosers/showpdf.htm?docid=341823">Common Cause</a></li>
                <li>Individual commenters
                    <ul>
                        <li><a href="http://sers.fec.gov/fosers/showpdf.htm?docid=342002">788 Pages (Batch A)</a></li>
                        <li><a href="http://sers.fec.gov/fosers/showpdf.htm?docid=341980">783 Pages (Batch B)</a></li>
                        <li><a href="http://sers.fec.gov/fosers/showpdf.htm?docid=341987">780 Pages (Batch C)</a></li>
                        <li><a href="http://sers.fec.gov/fosers/showpdf.htm?docid=341989">802 Pages (Batch D)</a></li>
                        <li><a href="http://sers.fec.gov/fosers/showpdf.htm?docid=341979">806 Pages (Batch E)</a></li>
                        <li><a href="http://sers.fec.gov/fosers/showpdf.htm?docid=342003">817 Pages (Batch F)</a></li>
                        <li><a href="http://sers.fec.gov/fosers/showpdf.htm?docid=341993">867 Pages (Batch G)</a></li>
                        <li><a href="http://sers.fec.gov/fosers/showpdf.htm?docid=341998">805 Pages (Batch H)</a></li>
                        <li><a href="http://sers.fec.gov/fosers/showpdf.htm?docid=341995">797 Pages (Batch I)</a></li>
                        <li><a href="http://sers.fec.gov/fosers/showpdf.htm?docid=341990">827 Pages (Batch J)</a></li>
                        <li><a href="http://sers.fec.gov/fosers/showpdf.htm?docid=341977">812 Pages (Batch K)</a></li>
                        <li><a href="http://sers.fec.gov/fosers/showpdf.htm?docid=341976">840 Pages (Batch L)</a></li>
                        <li><a href="http://sers.fec.gov/fosers/showpdf.htm?docid=341991">839 Pages (Batch M)</a></li>
                        <li><a href="http://sers.fec.gov/fosers/showpdf.htm?docid=341994">770 Pages (Batch N)</a></li>
                        <li><a href="http://sers.fec.gov/fosers/showpdf.htm?docid=341999">53 Pages (Batch O)</a></li>
                        <li><a href="http://sers.fec.gov/fosers/showpdf.htm?docid=341982">332 Pages (Batch P)</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>Con
            <ul>
                <li><a href="http://sers.fec.gov/fosers/showpdf.htm?docid=341822">National Association of Business Political Action Committees ("NABPAC")</a></li>
                <li><a href="http://sers.fec.gov/fosers/showpdf.htm?docid=341821">Chamber of Commerce of the United States</a></li>
                <li><a href="http://sers.fec.gov/fosers/showpdf.htm?docid=341816">Center for Competitive Politics</a></li>
                <li><a href="http://sers.fec.gov/fosers/showpdf.htm?docid=341818">Pillar of Law Institute</a></li>
                <li><a href="http://sers.fec.gov/fosers/showpdf.htm?docid=341819">Public Interest Legal Foundation</a> and Hans von Spakovsky</li>
            </ul>
        </li>
    </ul>
</p>

<p>2015-07-30 <a href="http://www.fec.gov/pages/fecrecord/2015/august/independentspendingnoa.shtml">FEC Record page</a></p>

<p>2015-07-29 <a href="https://www.federalregister.gov/articles/2015/07/29/2015-18494/rulemaking-petition-independent-spending-by-corporations-labor-organizations-foreign-nationals-and">Notice of availability</a></p>

<p>2015-06-18 <a href="https://www.citizen.org/pressroom/pressroomredirect.cfm?ID=5558">Public Citizen's petition for rulemaking</a></p>

<p>2015-06-18 <a href="/files/2015-06-18 MYL PAC & MYL C4 petition for rulemaking re Citizens United.pdf">Our petition for Rulemaking</a></p>

<% end %>