<%= t "Should the FEC amend its regulations in the wake of Citizens United?" %>

<% cache do %>
<p class="c"><a href="/files/2015-06-18 MYL PAC & MYL C4 petition for rulemaking re Citizens United.pdf">Petition for Rulemaking</a></p>

<p>During the Federal Election Commission's <a href="http://www.fec.gov/agenda/2015/agenda20150618.shtml">June 18th meeting</a> regarding <a href="http://www.fec.gov/members/statements/Petition_for_Rulemaking.pdf">REG 2015­-02</a>, a petition for rulemaking brought by Chair Ravel and Commissioner Weintraub, several Commissioners raised procedural concerns with REG 2015­-02.</p>

<p>In order to moot these procedural concerns, MYL PAC &amp; MYL C4 re-filed Ravel &amp; Weintraub's petition in their own name during the June 18th meeting.</p>

<p>On May 14th, we filed a <%= link_to "petition to prohibit contribution laundering", fec_laundering_path %>, which expresses a different and more narrow position than REG 2015-­02. As of June 18th, it was still being processed by the FEC office of general counsel (OGC).</p>

<p>Though we are filing this petition on our own behalf, we are not commenting on or editing its content (except to remove references to Chair Ravel and Commissioner Weintraub). We intend to file comments, along with the rest of the public, after a notice of availability is published.</p>

<% end %>