<%= t "Should the FEC amend its regulations in the wake of Citizens United?" %>

<% cache do %>
<p class="c">REG 2015-04 <a href="/files/2015-06-18 MYL PAC & MYL C4 petition for rulemaking re Citizens United.pdf">Petition for Rulemaking</a> | <a href="#comment">comment</a> | <a href="#docs">docs</a></p>

<p>During the Federal Election Commission's <a href="http://www.fec.gov/agenda/2015/agenda20150618.shtml">June 18th meeting</a> regarding <a href="http://www.fec.gov/members/statements/Petition_for_Rulemaking.pdf">REG 2015­-02</a>, a petition for rulemaking brought by Chair Ravel and Commissioner Weintraub, several Commissioners raised procedural concerns with REG 2015­-02.</p>

<p>In order to moot these procedural concerns, MYL PAC &amp; MYL C4 re-filed Ravel &amp; Weintraub's petition in their own name during the June 18th meeting. <a href="https://www.citizen.org/pressroom/pressroomredirect.cfm?ID=5558">Public Citizen</a> did the same later that day.</p>

<p>On May 14th, we filed a <%= link_to "petition to prohibit contribution laundering", fec_laundering_path %>, which expresses a different and more narrow position.</p>

<p>Though we are filing this petition on our own behalf, we are not commenting on or editing its content (except to remove references to Chair Ravel and Commissioner Weintraub). We intend to file comments, along with the rest of the public, after a notice of availability is published.</p>

<a name="comment"></a>
<h2>Public comments are open!</h2>

<p><strong>Deadline:</strong> October 27, 2015</p>

<p>To comment, just email <a href="mailto:independentspending@fec.gov?cc=feccomments@makeyourlaws.org&subject=Comment%20on%20REG%202015-03&body=Dear%20Federal%20Election%20Commission%20%2D%0D%0D%5Byour%20comments%20on%20the%20proposal%5D%0D%0DSincerely%2C%0D%5Bfull%20name%5D%0D%5Bcity%5D%2C%20%5Bstate%5D%20%5Bzip%5D">independentspending@fec.gov</a>. We'd appreciate if you CC us at <a href="mailto:feccomments@makeyourlaws.org">feccomments@makeyourlaws.org</a>, but you don't have to.</p>

<p>You <em>must</em> include your first &amp; last nam, city, state, and zip. Everything you send will be public record, so do <em>not</em> include your phone number, street address, SSN, birthdate, etc.</p>

<p>Every email you send to the FEC will be read, so don't feel hesitant about adding your comments.</p>

<p>However, if you take the time to make a longer and more well explained comment, and send it as a nicely formatted PDF, it'll probably get more attention.</p>

<a name="docs"></a>
<h2><a href="#docs">Official filings in REG 2015-04 (MYL PAC &amp; C4, Public Citizen re Citizens United)</a></h2>

<p>2015-07-29 <a href="https://s3.amazonaws.com/public-inspection.federalregister.gov/2015-18494.pdf">Notice of availability</a></p>

<p>2015-06-18 <a href="https://www.citizen.org/pressroom/pressroomredirect.cfm?ID=5558">Public Citizen's petition for rulemaking</a></p>

<p>2015-06-18 <a href="/files/2015-06-18 MYL PAC & MYL C4 petition for rulemaking re Citizens United.pdf">Petition for Rulemaking</a></p>

<% end %>