<%= t "Should the Tea Party Leadership Fund be granted an exemption from campaign finance reporting?" %>

<p>On September 16th, the Tea Party Leadership Fund <a href="http://saos.nictusa.com/aodocs/1246367.pdf" target="_blank">asked the FEC</a> to be allowed to hide the identity of their contributors, saying that (like the Socialist Workers Party or the NAACP) they are at risk of retribution for contributing and therefore deserve an exemption to normal reporting requirements. (See their exhibits <a href="http://saos.nictusa.com/aodocs/1246368.pdf" target="_blank">pt 1</a>, <a href="http://saos.nictusa.com/aodocs/1246369.pdf" target="_blank">pt 2</a>.)</p>

<p>The Campaign Legal Center and Democracy 21 <a href="http://saos.nictusa.com/aodocs/1246523.pdf" target="_blank">filed a comment</a> opposing the TPLF's request.</p>

<p>On November 15th, the FEC issued <a href="http://saos.nictusa.com/aodocs/201317.pdf" target="_blank">two draft advisory opinions</a> (draft A saying that they may have a blanket exemption, draft B saying they may not have any).</p>

<p>On Novebmer 17th, we <a href="/files/MYL%20PAC%20comment%20on%20AO%202013-17%20Tea%20Party%20Leadership%20Fund.pdf" target="_blank">filed a comment</a> to highlight three considerations that we feel should be addressed in any request for a reporting exemption: the elements of the <a href="http://www.fec.gov/law/litigation_CCA_B.shtml#buckley" target="_blank">Buckley exemption</a>, a distinction between contributor and expenditure exemption, and the transitivity of exemptions.</p>

<p>If you would like to submit your own comment for the record, just email ao@fec.gov, mention "AO 2013-17 Tea Party Leadership Fund", give your name and the name of any group you represent, and explain your views in response to the above documents. The deadline is November 20th, 12pm Eastern time.</p>