<%= t "Are PACs allowed to receive contributions of intellectual property from foreign nationals' volunteer services? Yes." %>

<% cache do %>
<p class="c"><a href="/files/2014-11-22 MYL PAC AOR - foreign national IP contributions.pdf">AOR 2014-20</a> — <a href="http://saos.fec.gov/aodocs/AO%202014-20%20(Make%20Your%20Laws%20PAC)%20Final%20(3.19.15).pdf">Final AO</a> - <a href="#docs">full docs &amp; audio/video</a> - <a href="http://www.fec.gov/pages/fecrecord/2015/april/ao2014-20.shtml">FEC Record summary</a></p>

<p>Foreign nationals <a href="http://www.law.cornell.edu/uscode/text/2/441e#a">aren't allowed</a> to contribute money (or other "things of value") to a political committee, but they <em>are</em> allowed to <a href="http://www.law.cornell.edu/uscode/text/2/431#8_B_i">volunteer their services</a>.</p>

<p>The FEC has repeatedly allowed committees to accept <em>services</em> from foreign nationals (so long as they are provided freely and all costs paid for by the committee), but not <em>tangible goods</em> (like physical art or campaign flyers).</p>

<p>MYL is open source, which means that (like any open source project) we get offers from foreign nationals to contribute to our intellectual property. To be able to effectively use contributions of services from developers, graphic designers, etc., we need to own the rights to the resulting intellectual property — e.g. to trademark a logo or slogan, protect our open source licensed code, publish ads made with volunteer services, etc.</p>

<p>Unfortunately, the FEC's previous advisory opinions haven't addressed contributions of <em>intangible</em> goods like intellectual property rights.</p>

<p>On November 22, 2014, we filed an advisory opinion request (AOR 2014-20), asking the FEC to resolve this issue.</p>

<p>On March 21, 2015, the FEC voted 4-2 to grant our request. PACs can now safely receive the intellectual property produced by foreign nationals' volunteer services (assuming that the service itself is properly provided).</p>

<a name="docs"></a>
<h2><a href="#docs">Official filings in AOR 2014-20 (MYL PAC re foreign national IP)</a></h2>

<p>2015-03-21: <a href="http://saos.fec.gov/aodocs/AO%202014-20%20(Make%20Your%20Laws%20PAC)%20Final%20(3.19.15).pdf">Final AO 2014-20</a> released.</p>
<p>2015-03-19: <a href="https://docs.google.com/document/d/1_ZIeP8Q_G6g_FgtQP2tdJm39gRxzO4pJ6kdWZw_ithg/">Brief comments</a> submitted re. scope of AO, MYL not having a stance on foreign national policy per se, and experience working with FEC.</p>
<p>2015-03-19: FEC held final <a href="http://www.fec.gov/agenda/2015/agenda20150319.shtml">open meeting</a> and <a href="http://saos.fec.gov/aodocs/1313474.pdf">voted</a> 4-2 in favor of draft C, version 2. (Ravel, Petersen, Hunter &amp; Goodman in support; Weintraub &amp; Walther dissenting re. non-code contributions of potentially valuable IP.) (<a href="https://youtu.be/M56ju-j_B24">video</a>, <a href="https://makeyourlaws.org/files/AO%202014-20%20hearing%202015-03-19%20transcript.txt">transcript</a>, <a href="http://www.fec.gov/audio/2015/2015031902.mp3">audio</a>)</p>
<p>2015-03-18: <a href="http://saos.fec.gov/aodocs/201420_4.pdf">Draft C, version 2</a> released.</p>
<p>2015-03-10: <a href="https://drive.google.com/open?id=1vVYiJmJun56_BZ9727-DHKDgL_-NJ9HeKHjSiQXCIi8">Our comments</a> filed on draft C. (<a href="http://saos.fec.gov/aodocs/1313069.pdf">FEC scan</a>)</p>
<p>2015-03-10: <a href="http://www.fec.gov/agenda/2015/agenda20150305.shtml">Open meeting</a> at FEC (<a href="http://www.fec.gov/audio/2015/2015031002.mp3">audio</a>, <a href="http://www.fec.gov/agenda/2015/documents/mtgdoc_15-16-a.pdf">minutes</a>). Held over <a href="http://www.fec.gov/agenda/2015/agenda20150319.shtml">next meeting</a>.</p>
<p>2015-03-10: <a href="http://www.fec.gov/agenda/2015/documents/mtgdoc_15-10-c.pdf">Draft C</a> released.</p>
<p>2015-03-04: <a href="https://docs.google.com/document/d/1CfiDktDfJRboCHch5hn5DqWGktJIXDcnkjp_nJJkrAU/">Correction and supplement</a> to our 2015-03-02 comments submitted. (<a href="http://saos.fec.gov/aodocs/1312960.pdf">FEC scan</a>)</p>
<p>2015-03-02: <a href="https://docs.google.com/document/d/1vSwazWC0F2jnHfWLbAtw9nNcfyqHQPm5jN13hCrXpn4/">Our comments</a> on drafts A, B, and B2 submitted. (<a href="http://saos.fec.gov/aodocs/1312900.pdf">FEC scan</a>)</p>
<p>2015-03-02: <a href="http://saos.fec.gov/aodocs/201420_2.pdf">Draft B, version 2</a> released.</p>
<p>2015-02-12: <a href="http://www.fec.gov/agenda/2015/agenda20150212.shtml">Open meeting</a> at FEC (<a href="http://www.fec.gov/audio/2015/2015021202.mp3">audio</a>, <a href="http://www.fec.gov/agenda/2015/documents/mtgdoc_15-14-a.pdf">minutes</a>). Extended until 2015-03-15 for further consideration.</p>
<p>2015-02-11: <a href="http://saos.fec.gov/aodocs/1311856.pdf">Clarifying comment</a> submitted re. MYL PAC engaging in non-federal activity</a></p>
<p>2015-02-10: <a href="http://www.fec.gov/agenda/2015/documents/mtgdoc_15-10-a.pdf">Draft A</a> and <a href="http://www.fec.gov/agenda/2015/documents/mtgdoc_15-10-b.pdf">Draft B</a> released.</p>
<p>2014-11-22: <a href="/files/2014-11-22 MYL PAC AOR - foreign national IP contributions.pdf">AOR 2014-20</a> (original) / (<a href="http://saos.fec.gov/aodocs/1308601.pdf">FEC scan</a>)</p>

<% end %>