<%= link_to "Make new payment", new_paypal_transaction_path %>

<% if @transactions.present? %>
	<%= render :partial => 'transactions', :locals => {:transactions => @transactions} %>
<% else %>
	<h3>You don't have any transactions yet.</h3>
<% end %>
