<% t "Ken Doyle (BNA) re Bitcoin - 2013-11-15" %>

<% cache do %>

<p class="c"><%= link_to "More info re. AO 2014-02", fec_bitcoin_path %></p>

<p class="small">
	Reproduced with permission from Money &amp; Politics Report, (Nov.15, 2013).<br/>
	Copyright 2013 by The Bureau of National Affairs, Inc. (800-372-1033)<br/>
	<a href="http://www.bna.com">http://www.bna.com</a>
</p>

<p>Source:  Money & Politics Report: News Archive > 2013 > November > 11/15/2013 > Lead Report > Campaign Finance: Vote on Bitcoin Ruling Delayed As FEC Discusses Disclosure Concerns</p>

<p>Campaign Finance</p>

<h2>Vote on Bitcoin Ruling Delayed As FEC Discusses Disclosure Concerns</h2>

<p>BNA Snapshot</p>

<p>FEC Discusses Bitcoins</p>

<p class="b">Key Development: Federal Election Commission put off final action on advisory opinion (AO 2013-15) regarding Bitcoins after lengthy discussion about the potential effect of digital currency on campaign financing.</p>

<p class="b">Impact: FEC focused on concerns that it may be difficult to trace, disclose original donor of Bitcoin political contribution, as required under campaign finance laws.</p>

<p class="i">By Kenneth P. Doyle</p>

<p>Nov. 14 — The Federal Election Commission put off final action on an advisory opinion (AO 2013-15) regarding Bitcoins after a lengthy discussion at a Nov. 14 meeting about the potential effect of the digital currency on campaign financing.</p>

<p>In other action at the meeting, the FEC commissioners voted unanimously to approve an advisory ruling (AO 2013-13) requiring a joint fundraising committee called Freshman Hold'em to list all of its partner campaigns in disclaimer notices.</p>

<p>The FEC also unanimously approved an audit report for the Arizona Republican Party and a ruling denying additional federal matching funds to the 2012 campaign of Libertarian presidential candidate Gary Johnson.</p>

<p>Regarding the Bitcoin AO, the FEC commissioners may vote at their next scheduled open meeting Nov. 21 to approve a ruling from among at least three drafts that have been discussed to date.</p>

<p>All three of the current draft rulings would allow by the political action committee making the AO request, the Conservative Action Fund (CAF), to accept Bitcoin contributions. However, the drafts differ on the question of whether the PAC could pass on Bitcoins it receives to other PACs or candidate committees without first cashing in the Bitcoins for U.S. dollars.</p>

<h3>Disclosure Concerns</h3>

<p>Bitcoin transactions fall outside the traditional financial system—a factor that has raised concerns at other agencies about their potential use for money laundering and other crimes. Democratic FEC Commissioner Ann Ravel raised concerns during the commission meeting that it may be difficult to trace and disclose the original donor of a Bitcoin political contribution, as required under campaign finance laws.</p>

<p>Ravel cited comments on the advisory opinion request filed by another PAC, called Make Your Laws, which said that treating Bitcoins as cash, as suggested in the advisory request, could “allow unlimited anonymous hard money contributions” in federal campaigns.</p>

<p>The request itself indicated CAF would make its “best efforts” under FEC rules to make sure any Bitcoin contributors are identified and disclosed, as required under FEC rules for all contributors.</p>

<p>Attorney Dan Backer of DB Capitol Strategies, representing CAF, told the FEC commissioners during the Nov. 14 meeting that Bitcoins should not face a “heightened burden” for disclosure above other types of contributions the FEC has previously allowed that also raise potential concerns about the identity of the contributor. These include contributions made by credit cards, gift cards and text messages, Backer said.</p>

<p>All of the draft responses to the CAF request would allow the PAC to accept Bitcoins solely as “in-kind” campaign contributions, similar to stocks or bonds.</p>

<p>Under two of the drafts, the Bitcoin contributions would be unusable by the PAC for any purpose until they have been sold for U.S. dollars and the proceeds have been placed in campaign depositories. Under a third alternative, however, the PAC could take Bitcoins it receives and pass them along directly to other PACs or candidates, also as in-kind contributions.</p>

<h3>Freshman Hold'em</h3>

<p>The FEC discussed only briefly the other items on its agenda, including the advisory opinion request from the Freshman Hold'em committee, which had generated a number of alternative draft rulings.</p>

<p>A final, compromise draft responding to the committee was produced following a 40-minute delay in the scheduled start of the commission meeting. The draft was approved with little discussion at the beginning of the meeting.</p>

<p>The approved ruling denied the joint fundraising committee's request to leave off the names of its 18 connected campaign committees when making fundraising solicitations and other communications. The ruling said the FEC disclaimer requirements to disclose the names of all the campaigns being funded by a joint fundraising committee could not be waived.</p>

<p>The final draft approved by the commissioners eliminated some language from an original draft outlining specific items—such as donor cards—on which disclaimer information about participating committees would have to be included.</p>

<h3>Easing Tensions</h3>

<p>The agreement on the Freshman Hold'em advisory ruling appeared to reflect a continued easing of partisan tensions at the agency since the arrival of two new commissioners, Democratic Commissioner Ann Ravel and Republican Commissioner Lee Goodman, who now serves as the FEC vice chairman.</p>
<p>In brief remarks to reporters after the commission meeting, Ellen Weintraub, the FEC's veteran Democratic chairwoman, said agency operations have been going smoothly since the arrival of Goodman and Ravel. She added that the commission is facing a big workload, especially of pending enforcement cases, which are handled confidentially in closed FEC meetings.</p>

<p>Weintraub said there is no schedule yet to consider possible new regulatory efforts on a series of issues that the FEC had said it would like to address.</p>

<br/>

<p>To contact the reporter on this story: Kenneth P. Doyle in Washington at kdoyle@bna.com</p>

<p>To contact the editor responsible for this story: Heather Rothman at hrothman@bna.com</p>

<p>For More Information</p>

<p>Documents discussed at the Nov. 14 FEC meeting are available online at <a href="http://www.fec.gov/agenda/2013/agenda20131114.shtml">http://www.fec.gov/agenda/2013/agenda20131114.shtml</a>.</p>

<hr/>

<p>Contact us at <a href="http://www.bna.com/contact/index.html">http://www.bna.com/contact/index.html</a> or call 1-800-372-1033</p>

<p>ISSN 1523-570X</p>

<p>Copyright © 2013, The Bureau of National Affairs, Inc.. Reproduction or redistribution, in whole or in part, and in any form, without express written permission, is prohibited except as permitted by the BNA Copyright Policy. <a href="http://www.bna.com/corp/index.html#V">http://www.bna.com/corp/index.html#V</a></p>

<% end %>