<% t "Ken Doyle (BNA) re Bitcoin - 2014-05-09" %>

<p class="small">
	Reproduced with permission from Money & Politics Report, (May 9, 2014).<br/>
	Copyright 2014 by The Bureau of National Affairs, Inc. (800-372-1033)<br/>
	<a href="http://www.bna.com">http://www.bna.com</a>
</p>

<p>Source:  Money & Politics Report: News Archive > 2014 > May > 05/09/2014 > Lead Report > Campaign Finance: FEC Vote Allows Bitcoin Campaign Money But Commissioners Differ Over $100 Limit</p>

<p>Campaign Finance</p>

<h2>FEC Vote Allows Bitcoin Campaign Money But Commissioners Differ Over $100 Limit Bitcoin</h2>

<p>BNA Snapshot</p>

<p>FEC Bitcoin AO</p>

<p class="b">Key Development: The Federal Election Commission votes to allow a political action committee to accept contributions in the digital currency bitcoin.</p>

<p class="b">Disputes Remain: The unanimous vote by the six FEC commissioners glossed over disputes in a debate over precisely how to treat bitcoin transactions under federal campaign finance law, including whether bitcoin contributions should be subject to the $100 limit in place for cash campaign contributions.</p>

<p class="i">By Kenneth P. Doyle</p>

<p>May 8 —  The Federal Election Commission voted May 8 to allow a political action committee to accept contributions in the digital currency bitcoin.</p>

<p>The unanimous vote by the six FEC commissioners glossed over lingering disputes in a long-running debate over precisely how to treat bitcoin transactions under federal campaign finance law. These included divisions between Republican and Democratic commissioners over whether bitcoin contributions should be subject to the $100 limit in place for cash campaign contributions.</p>

<p>Democratic FEC commissioners have expressed concerns about the anonymous nature of bitcoins, an unregulated digital currency that is used for transactions over the Internet. The FEC Democrats have suggested bitcoins could be used avoid campaign finance disclosure requirements.</p>

<p>Republican commissioners, on the other hand, have said bitcoins should be treated no differently than other “in-kind” contributions, such as stocks and bonds. Republicans have noted that requirements for recipients of all campaign contributions to identify their contributors remain in place for bitcoins.</p>

<p>In a brief discussion before the May 8 vote, FEC Vice Chairman Ann Ravel, a Democrat, said she could support granting an advisory opinion allowing bitcoin contributions because the requester—a small PAC called Make Your Laws, or MYL PAC—asked only to be allowed to accept bitcoins worth $100 or less.</p>

<p>FEC Chairman Lee Goodman, a Republican, did not comment on the advisory opinion during the commission meeting but later issued a written statement saying that its approval should not be seen as setting a $100 limit on bitcoin contributions. Goodman said the ruling “in no way establishes the outer boundary for the contribution and use of bitcoins.”</p>

<p>Ravel and fellow commissioners Ellen Weintraub, a Democrat, and Steven Walther, a political independent holding a Democratic FEC seat, also issued a written statement. They took the opposite tack from Goodman, saying that the $100 contribution limit promised by MYL PAC was “a material aspect of the proposed transaction on which we relied” when voting to approve the advisory opinion. They also said the PAC's commitment to have each bitcoin contributor affirm that he or she is not a foreign national also was key, due to concerns about the untraceable nature of bitcoins.</p>

<h3>Cash or ‘In-Kind’?</h3>

<p>The advisory opinion said bitcoins could be accepted “as proposed” by the MYL PAC, though it did not specifically mention the requester's $100 limit on such contributions. The ruling also indicated that bitcoin contributions would be treated and reported not as cash but in the same way as other in-kind campaign contributions, which do not face the $100 limit. The ruling said that bitcoin contributions would be treated as “money or anything of value” subject to FEC regulation; however, it ignored the distinction between the campaign finance rules governing cash and those for other types of contributions.</p>

<p>The FEC ruling also said that a PAC can purchase bitcoins for investment purposes but would have to cash in these bitcoins before using them to make purchases. The commissioners were deadlocked on the question of whether a PAC could use donated bitcoins to purchase goods and services, the ruling said.</p>

<p>It had remained unclear until the last minute whether a majority of the six commissioners would be able to agree on any ruling on bitcoins—an issue the FEC has been grappling with since last fall (3753 Money & Politics Report, 5/5/14). The draft approved at the May 8 commission meeting was released on the night of May 7 for a vote the next morning.</p>

<p>No other matters were discussed at the brief open meeting.</p>

<p>At a meeting last month, the FEC commissioners debated but put off a vote on the bitcoin advisory opinion request from the North Carolina-based MYL PAC. The PAC asked the FEC for permission to receive bitcoin campaign contributions in amounts worth up to $100 and also asked about permissible uses of bitcoins under federal campaign finance law.</p>

<h3>Few Committees Taking Bitcoins</h3>

<p>The founder of MYL PAC, who goes by the one-word name Sai, told Bloomberg BNA in a phone interview after the FEC meeting he was pleased with the fact that the FEC voted unanimously for a bitcoin advisory opinion, though he would have preferred that the commission specified that all bitcoin campaign contributions are limited to $100. Without such an explicit requirement, individual PACs, political parties and campaign committees might decide they can take bitcoins in larger amounts, he said, though they would be without the “safe harbor” afforded by the MYL PAC ruling.</p>

<p>Sai, who has analyzed the treatment on bitcoins under campaign finance law, said only a handful of political committees so far have indicated to the FEC that they are receiving or interested in receiving bitcoin contributions. Besides MYL PAC, these included the national committee of the Libertarian Party and a few federal candidates' committees.</p>

<p>Campaigns hoping to receive bitcoins included the unsuccessful Senate campaign of Rep. Steve Stockman (R-Texas); earlier this year he lost the primary to incumbent Sen. John Cornyn. Currently looking to receive bitcoins is the 2016 presidential campaign of Darryl Perry, a libertarian who wrote to the FEC saying he would file no statements or reports because he did not recognize the agency's authority. The letter did say Perry would accept campaign contributions only in “Bitcoin, Litecoin, and precious metals.”</p>

<p>During a discussion of bitcoins at an FEC meeting last month, Ravel discussed her concerns that bitcoin transactions could facilitate anonymous transactions and “undermine transparency” in tracking the sources of campaign money donated to PACs' parties and candidates. She indicated differences with the permissive approach toward bitcoin taken in one of the early draft responses but wanted to see if those differences could be resolved in discussions with FEC colleagues aimed at producing a new draft ruling.</p>

<p>Goodman said at the April meeting that a vote on the bitcoin AO would be held over, but he questioned Ravel about why bitcoin should face special restrictions not applicable to other types of in-kind contributions, such as stocks, bonds, computer equipment or other items of value. He said that, under current FEC rules, all such donations require the recipient PAC to find out and report to the FEC who made the contribution, and such reporting requirements would also apply to bitcoin.</p>

<h3>Issue Surfaced Last Year</h3>

<p>The latest FEC action indicated the commissioners had not made much progress in resolving their differences over bitcoins since the issue first surfaced in a separate advisory opinion discussed last year.</p>

<p>Last November, the three commissioners holding Democratic seats deadlocked with the three Republicans regarding a similar bitcoin ruling requested by a political action committee the Conservative Action Fund (AO 2013-15) (3644 Money & Politics Report, 11/22/13).</p>

<p>Weintraub, then the FEC chairwoman, said at that time the agency would work to develop a policy statement on bitcoin and possibly a larger rulemaking to produce new FEC regulations on bitcoin and other new methods and technologies in campaign financing. Weintraub did not specify what the policy or regulations would provide, but she noted that none of the FEC draft rulings regarding the bitcoin AO would completely prevent use of the digital currency to make campaign contributions.</p>

<p>Weintraub gave up the rotating FEC chairmanship to Goodman this year. There has been no further word from the agency about possible new guidance or rules on bitcoins or other new technology issues.</p>

<br/>

<p>To contact the reporter on this story: Kenneth P. Doyle in Washington at kdoyle@bna.com</p>

<p>To contact the editor responsible for this story: Heather Rothman at hrothman@bna.com</p>

<hr/>

<p>Contact us at <a href="http://www.bna.com/contact/index.html">http://www.bna.com/contact/index.html</a> or call 1-800-372-1033</p>

<p>ISSN 1523-570X</p>

<p>Copyright © 2014, The Bureau of National Affairs, Inc.. Reproduction or redistribution, in whole or in part, and in any form, without express written permission, is prohibited except as permitted by the BNA Copyright Policy.  <a href="http://www.bna.com/corp/index.html#V">http://www.bna.com/corp/index.html#V</a></p>