<% t "Ken Doyle (BNA) re Foreign Nationals IP - 2015-03-19" %>

<% cache do %>

<p class="c"><%= link_to "More info re. AO 2014-20", fec_volunteer_ip_path %></p>

<p class="small">
	Reproduced with permission from Money &amp; Politics Report, (Mar. 23, 2015).<br/>
	Copyright 2015 by The Bureau of National Affairs, Inc. (800-372-1033) <a href="http://www.bna.com">http://www.bna.com</a>
</p>

<p><%= image_tag "bloomberg_bna_250_100.png", width: 125, height: 50, alt: "Bloomberg BNA" %></p>

<h3>Money &amp; Politics Report™</h3>

<div align="center" style="margin-bottom:2.25pt;text-align:center">
<hr size="2" width="100%" align="center">
</div>

<p style="margin-bottom:12.0pt"><span class="i">Source:&nbsp;&nbsp;Money &amp; Politics Report: News Archive&nbsp;&gt;&nbsp;2015&nbsp;&gt;&nbsp;March&nbsp;&gt;&nbsp;03/20/2015&nbsp;&gt;&nbsp;Lead Report&nbsp;&gt;&nbsp;Campaign Finance: FEC Ruling Allows Foreign
 Volunteers To Provide PAC With Intellectual Property</span></p>
<p>Campaign Finance</p>

<h3>FEC Ruling Allows Foreign Volunteers To Provide PAC With Intellectual Property</h3>
<p><%= image_tag "fec_480.png", width: 120, height: 120, alt: "Federal Election Commission Logo" %></p>
<p><i>By Kenneth P. Doyle</i></p>

<p>March 19 — The Federal Election Commission voted 4-2 to approve a controversial, long-pending advisory opinion allowing a political action committee to receive intellectual property produced by foreign volunteers.</p>
<p>The vote at an FEC open meeting March 19 fell mainly along party lines, with one Democratic commissioner, FEC Chairwoman Ann Ravel, joining the three FEC Republicans to approve the ruling. Two commissioners holding Democratic seats, Steven Walther and Ellen Weintraub, dissented.</p>
<p>Approved was an advisory opinion (AO 2014-20) allowing a political action committee called Make Your Laws, or MYL PAC, to receive computer services from foreigners using open-source code, which could then become the intellectual property of the PAC.</p>
<p>In addition, the FEC voted unanimously at the meeting to approve two notices asking for public comments on rulemaking petitions. One petition, submitted by the nonprofit Public Citizen, asks the FEC to strengthen campaign finance rules for government contractors. The other, submitted by a bipartisan group of election lawyers, asks for updates to the FEC's administrative fines program, as well as for changes to the agency's reporting forms to accommodate registration and reporting by super PACs.</p>
<p>The commissioners approved both notices after resolving questions about whether public comments submitted by e-mail would be accepted by the agency (3968 Money &amp; Politics Report, 3/18/15). The final versions of the notices said e-mail comments would be accepted.</p>

<h4>Elton John vs. Computer Coders</h4>
<p>The vote on the MYL PAC opinion followed a debate among the commissioners about whether the new ruling would be a major change in campaign finance law.</p>
<p>Weintraub suggested the move broke agency precedents and could allow circumvention of the law generally banning foreign contributions to U.S. campaigns. She noted that the draft opinion ultimately approved by the FEC majority explicitly would overturn a 1981 ruling (AO 1981-51) involving the campaign of former Sen. Howard Metzenbaum (D-Ohio), which barred the campaign from receiving a valuable painting from a foreign artist.</p>
<p>Other commissioners, including Ravel and Republican Lee Goodman, played down the significance of the ruling.</p>
<p>Ravel noted that the FEC had earlier dismissed an enforcement case involving a concert by the British singer Elton John benefitting the 2008 presidential campaign of Hillary Clinton. Ravel said that allowing a famous foreigner to provide such a significant benefit to a campaign but forbidding volunteer computer coders from helping a PAC “makes no sense.”</p>
<p>Weintraub, who recused herself from voting on the Elton John concert matter in 2009, indicated she did not necessarily agree with the dismissal of that case and suggested the latest FEC ruling could open an even bigger loophole. She said the new advisory opinion could allow the British singer to sign over the rights to one of his popular and lucrative songs, like “Candle in the Wind,” allowing foreign money to flow into a U.S. campaign.</p>
<p>The president of MYL PAC, who goes by the one-word name Sai, said in a written comment after the FEC meeting that he was pleased that the advisory opinion was approved but had “no position on what kinds of foreign national services should or shouldn't be permitted” beyond the computer coding directly involved in the request.</p>
<p>“Our request was purely pragmatic, to ensure we obey the law while running an open source project,” he said. “We don't have any direct position on e.g. concert performances or recordings thereof, and we're not likely to benefit from one any time soon.”</p>

<h4>Contractor Rulemaking Notice</h4>
<p>Like the MYL PAC advisory ruling, the rulemaking notices approved by the FEC commissioners were potentially significant, though it was far from clear if the FEC would take final action on the toughest issues involved.</p>
<p>The FEC agreed only to take comments regarding possible new regulations restricting campaign contributions by government contractors, and there was little discussion at the March 19 commission meeting of the
 merits of a possible clampdown on contractor campaign money.</p>
<p>Only one commissioner, Weintraub, directly addressed the issue, saying she was “open-mined” about the issues raised in the rulemaking petition and wanted to hear from the public about it.</p>
<p>Public Citizen, the watchdog group filing the petition, wants the FEC to tighten current rules. It said the rules allow government contractors to easily avoid restrictions on campaign money simply by funneling the money through a separate legal entity that doesn't hold contracts.</p>
<p>Last year, the FEC voted 5-1 to dismiss a Public Citizen complaint against Chevron, finding that the ban on campaign money from government contractors didn't apply to the energy company when it made the $2.5 million contribution to a Republican super PAC, the Congressional Leadership Fund, in 2012. The FEC found that Chevron Corp., the parent company listed as making the super PAC contribution, was a “separate and distinct legal entity” from Chevron USA, the subsidiary that had federal contracts.</p>

<h4>Lawyers' Petition</h4>
<p>Also approved for public comment was the separate petition for rulemaking filed by a bipartisan group of influential election lawyers, led by Democrat Robert Bauer and Republican Benjamin Ginsberg. The lawyers said the FEC should write regulations to implement six new categories of reporting violations to be handled by the commission's administrative fines program (AFP), pursuant to the law adopted by Congress in 2013 and never implemented by the agency.</p>
<p>The lawyers also asked the FEC to make current campaign finance reporting forms for political committees clearer and more in line with real-world campaign activities. The petition noted that super PACs—known to the FEC as “independent expenditure only committees,” or IE PACs—have been explicitly approved by the FEC since 2010, following major court rulings. However, current FEC forms don't specifically allow registration and reporting by super PACs, the lawyers'
 said. They suggested that the FEC rewrite the forms to allow super PACs to declare their independent status and report contributions by corporations and unions.</p>
<p>Weintraub also weighed in on this petition, suggesting the FEC might be able to agree on adjusting the administrative fines program for reporting violations, but rewriting forms to accommodate super PACs might raise more problematic issues. If it goes forward, she said, this would be the first formal FEC rulemaking of any kind dealing with super PACs, and it might require the FEC to address some of the controversies raised by these relatively new but increasingly influential entities.</p>
<p>Responding to Weintraub, Republican Commissioner Caroline Hunter said the lawyers filing this petition didn't ask the FEC to tackle the tough questions related to super PACs but wanted the commissioners only to agree on the “easy” matter of how to change outdated forms.</p>
<p>Weintraub said that dealing with the tougher questions “may not be easy but it is important.”</p>
<p>To contact the reporter on this story: Kenneth P. Doyle in Washington at kdoyle@bna.com</p>
<p>To contact the editor responsible for this story: Heather Rothman at hrothman@bna.com</p>

<h4>For More Information</h4>
<p>Documents considered at the March 19 meeting and video of the meeting are available at <a href="http://www.fec.gov/agenda/2015/agenda20150319.shtml">http://www.fec.gov/agenda/2015/agenda20150319.shtml</a>.</p>

<p class="small c">Contact us at <a href="http://www.bna.com/contact/index.html">http://www.bna.com/contact/index.html</a> or call 1-800-372-1033 <br>
<br>
ISSN 1523-570X<br>
Copyright © 2015, The Bureau of National Affairs, Inc.. Reproduction or redistribution, in whole or in part, and in any form, without express written permission, is prohibited except as permitted by the BNA Copyright Policy.</p>

<% end %>