<%= form_for(@committee, :url => committee_path(@committee), :method => :patch, :validate => true) do |f| %>
  <table>
	<%= render :partial => "committee_edit", :locals => {:f => f} %>
    <tr>
      <td/>
      <td><%= f.submit "Update committee", :disable_with => "Processing…" %></td>
    </tr>
  </table>
<% end %>