<%= link_to "Add new", new_committee_path %>

<table>
	<tr>
		<th>Jurisdiction</th>
		<th>Name</th>
	</tr>
	<% @committees.each do |committee| %>
	<tr>
		<td><%= committee.jurisdiction %></td>
		<td><%= link_to committee.short_name, committee %></td>
	</tr>
	<% end %>
</table>