%div= "You must agree to the following #{@needed_agreements.size == 1 ? 'agreement' : 'agreements'} for the role #{@role.name}:"
- @needed_agreements.map do |agreement|
  = render :partial => 'show', :locals => {:agreement => agreement}
