body {
	/* font-family: 'Garamond',  georgia, times, "times new roman"; */
	font-family: arial,helvetica,clean,sans-serif;
	/* font-size: 100%; */
}

a {text-decoration: none;}
a:hover { text-decoration:underline;}

q:before { content: open-quote; }
q:after  { content: close-quote; }
cite:before { content: "\2014 "; }

#toc {
	float: left;
	padding-right: 15px;
	margin-left: 1em;
	height: 100%;
}

hr {
	width:25%;
	margin-top:20px;
	margin-bottom:20px;
}

.c {
	text-align: center;
}

.r {
	text-align: right;
}

.j {
	text-align: justify;
}

.small {
	font-size: smaller;
}

ul {
	list-style: none;
}

ul li {
	list-style: none;
}

ul.bullet {
	list-style: disc outside;
}

ul.bullet li {
	list-style: disc outside;
}

ul.flush {
	margin: 0 0 1ex 0;
	padding: 0;
}

ul.flush li {
	margin: 0 0 0.5ex; 
	padding: 0;
}

ul.flush ul {
	margin: 0 1em;
}

ul.flush ul li {
	margin: 0;
}

ul .description {
	display: block;
	font-style:italic;
	margin-left: 1em;
}

ul .details {
	float: right;
}

img { 
	border: none;
	vertical-align: bottom;
}

table {
	margin-bottom: 0;
}

th, td {
	border: none;
	padding: 0.1em 0.8em 0.1em 0;
}

tr.even {
	background: #F5FFFF;
}

ul.menu {
	margin: 0 0 1em;
}
ul.menu li {
	list-style: none;
	min-height:	18px;
}

ul li.first {
	margin-top:	1em;
	border-top: thin solid #d3d3d3;
}

ul.inline {
	display: inline;
	margin: 0;
	padding: 0;
}

ul.inline li {
	list-style: none;
	display: inline;
}

ul.inline li:after {
	content: ", ";
	}

ul.inline li:last-child:after {
	content: "";
}

ol li {
	list-style: decimal;
}

#header {
	text-align: right;
	margin: 1em;
	padding-bottom: 0.5em;
}

textarea {
	display: block;
	padding: 0.75%;
	width: 98%;
	border: 1px solid #BDC7D8;
	height: 5em;
}

blockquote {
  border-left: 2px solid #ccc;
  margin: 0;
  padding: 0 0.3em;
}


.flash {
	text-align: center;
	padding:	.3em .4em;
	margin:		0 auto .5em;
	clear:		both;
	max-width:	46.923em; /* 610/13 */  
	*max-width:	45.750em; /* 610/13.3333 - for IE */
}

.flash.error {
	border: thin solid #8b0000;
	background: #ffc0cb;
}

.flash.notice, .flash.info {
	border: thin solid #ff0;
	background: #ffe;
}

.flash.warning {
	border: thin solid #b8860b;
	background: #ff0;
}

.flash .close {
	float:	right;
}

.close a, a.close {
	color:				#f00;
	text-decoration:	none;
}

.tooltip {
    position:	relative; /*this is the key*/
	cursor:		help;
}

.tooltip span {
	display: none
}

.tooltip:hover span { /*the span will display just on :hover state*/
	z-index:		1; 
    display:		block;
    position:		absolute;
    top:			1em; /* 1.6em; is prettier a bit, but 1em allows user to mouse in to it easily and thus click links etc */
	left:			0;
	border:			thin solid grey;
	background:		#FFF;
  	padding:		.3em .6em;
	text-align:		left;
	white-space:	nowrap;
}

.tooltip.left:hover span {
	left:			auto;
	right:			0;
}
	
.highlight {
	background-color: #ffa;
}

.highlight:hover{
	background-color: #ff6;
}

.highlight:hover span {
	background:		#ffe;
}