<p>Welcome, <%= @resource.name %>!</p>

<p>Please confirm your account by <%= link_to 'clicking here', confirmation_url(@resource, :confirmation_token => @token) %>.</p>

<p>Thanks,</p>

<p>Make Your Laws team</p>