<p>Hello, <%= @resource.name %>!</p>

<p>Someone (hopefully you) has requested a password reset. Just <%= link_to 'click here', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %> to change your password.</p>

<p>If you didn't request this, please ignore this email. Your password won't change until you access the link above and create a new one.</p>

<p>Thanks,</p>

<p>Make Your Laws team</p>