<p id="notice"><%= notice %></p>

<p>
  <strong>Api uri:</strong>
  <%= @bit_pay_client.api_uri %>
</p>

<%= link_to 'Edit', edit_bit_pay_client_path(@bit_pay_client) %> |
<%= link_to 'Back', bit_pay_clients_path %>
