<script type="text/javascript">
	try{
		var pageTracker = _gat._getTracker("UA-27131174-1");
		pageTracker._trackPageview();
	} catch(err) {}

	var addthis_config = {
		"data_track_clickback":false,
		data_ga_tracker: pageTracker,
		services_exclude: 'print',
		language: '<%= I18n.locale %>',
		brand: 'Make Your Laws'
	};
</script>
<!-- 
<a href="http://www.addthis.com/bookmark.php?v=250" style="text-decoration:none;"  
	onmouseover="return addthis_open(this, '', '<%= url %>', '<%= full_title %>');" onmouseout="addthis_close();" onclick="return addthis_sendto();">
	<img src="http://s7.addthis.com/static/btn/sm-plus.gif" width="16" height="16" border="0" alt="Share / Bookmark" />
</a>
--> 

<div class="addthis_toolbox addthis_32x32_style ">
	<a class="addthis_button_facebook_like" fb:like:layout="box_count"></a><br/><br/>
	<a class="addthis_button_tweetmeme"></a><br/><br/>
	<a class="addthis_button_google_plusone" g:plusone:size="tall"></a><br/><br/>
	<a class="addthis_counter"></a>
</div>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=saizai"></script>