<div id="flashes">
	<% [:notice, :error, :alert].each do |level| -%>
		<% if !flash[level].blank? -%>
			<div class="flash <%= level %>">
				<%=h flash[level] %>
			</div>
		<% end -%>
	<% end -%>
	<%= render :partial => "/layouts/notifications/fec_bitcoin" unless request.path == fec_path %>
</div>