<div id="flashes">
	<% [:notice, :error, :alert].each do |level| -%>
		<% if !flash[level].blank? -%>
			<div class="flash <%= level %>">
				<%=h flash[level] %>
			</div>
		<% end -%>
	<% end -%>
</div>