<% cache 'outlinks' do %>
	<!-- Google+ badge (300px wide, interactive)
	<div class="g-plus" data-href="https://plus.google.com/100183759660923071401" data-size="badge"></div>
	-->

	<div id="outlinks">
		<!-- Google+ button (32px, noninteractive) -->
		<a href="https://plus.google.com/100183759660923071401?prsrc=3" style="text-decoration:none;"><img src="https://ssl.gstatic.com/images/icons/gplus-32.png" /></a>
		<a href="http://youtube.com/makeyourlaws" title="YouTube MakeYourLaws"><%= image_tag 'youtube.png' %></a>
		<a href="http://github.com/makeyourlaws" title="Github MakeYourLaws"><%= image_tag 'github.png' %></a>
		<!-- <a href="https://www.pivotaltracker.com/s/projects/9217" title="Pivotal project tracker"><%= image_tag 'pivotal-tracker-32.png' %></a> -->
	</div>
<% end %>