<%= t "Finish your registration" %>

<p>We received some information from <%= resource.identities.first.provider.camelcase %>, but we need you to confirm that you want to use what they gave us, and to fill in the rest.</p>

<%= render :partial => 'users/registrations/signup_form', :locals => {:passwords_optional => true} %>